openapi: 3.0.4
info:
  title: Together APIs
  description: The Together REST API. Please see https://docs.together.ai for more details.
  termsOfService: https://www.together.ai/terms-of-service
  contact:
    name: Together Support
    url: https://www.together.ai/contact
  license:
    name: MIT
    url: https://github.com/togethercomputer/openapi/blob/main/LICENSE
  version: 2.0.0
servers:
  - url: https://api.together.xyz/v1
paths:
  /audio/speech:
    post:
      tags:
        - Audio
      summary: Create audio generation request
      description: Generate audio from input text
      operationId: audio-speech
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            audio/mpeg:
              schema:
                type: string
                format: binary
            audio/wav:
              schema:
                type: string
                format: binary
            text/event-stream:
              schema:
                $ref: '#/components/schemas/AudioSpeechStreamResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.audio.speech.create(\n    model=\"cartesia/sonic-2\",\n    input=\"The quick brown fox jumps over the lazy dog.\",\n    voice=\"laidback woman\",\n)\n\nresponse.stream_to_file(\"audio.wav\")\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nimport { createWriteStream } from \"fs\";\nimport { join } from \"path\";\nimport { pipeline } from \"stream/promises\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.audio.create({\n  model: \"cartesia/sonic-2\",\n  input: \"The quick brown fox jumps over the lazy dog.\",\n  voice: \"laidback woman\",\n});\n\nconst filepath = join(process.cwd(), \"audio.wav\");\nconst writeStream = createWriteStream(filepath);\n\nif (response.body) {\n  await pipeline(response.body, writeStream);\n}\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nimport { createWriteStream } from \"fs\";\nimport { join } from \"path\";\nimport { pipeline } from \"stream/promises\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.audio.create({\n  model: \"cartesia/sonic-2\",\n  input: \"The quick brown fox jumps over the lazy dog.\",\n  voice: \"laidback woman\",\n});\n\nconst filepath = join(process.cwd(), \"audio.wav\");\nconst writeStream = createWriteStream(filepath);\n\nif (response.body) {\n  await pipeline(response.body, writeStream);\n}\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/audio/speech\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"cartesia/sonic-2\",\n       \"input\": \"The quick brown fox jumps over the lazy dog.\",\n       \"voice\": \"laidback woman\"\n     }' \\\n     --output audio.wav\n"
  /audio/transcriptions:
    post:
      tags:
        - Audio
      summary: Create audio transcription request
      description: Transcribes audio into text
      operationId: audio-transcriptions
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfile = open(\"audio.wav\", \"rb\")\n\nresponse = client.audio.transcriptions.create(\n    model=\"openai/whisper-large-v3\",\n    file=file,\n)\n\nprint(response.text)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nimport { readFileSync } from \"fs\";\nimport { join } from \"path\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst audioFilePath = join(process.cwd(), \"audio.wav\");\nconst audioBuffer = readFileSync(audioFilePath);\nconst audioFile = new File([audioBuffer], \"audio.wav\", { type: \"audio/wav\" });\n\nconst response = await client.audio.transcriptions.create({\n  model: \"openai/whisper-large-v3\",\n  file: audioFile,\n});\n\nconsole.log(response.text);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nimport { readFileSync } from \"fs\";\nimport { join } from \"path\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst audioFilePath = join(process.cwd(), \"audio.wav\");\nconst audioBuffer = readFileSync(audioFilePath);\nconst audioFile = new File([audioBuffer], \"audio.wav\", { type: \"audio/wav\" });\n\nconst response = await client.audio.transcriptions.create({\n  model: \"openai/whisper-large-v3\",\n  file: audioFile,\n});\n\nconsole.log(response.text);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/audio/transcriptions\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -F \"file=@audio.wav\" \\\n     -F \"model=openai/whisper-large-v3\"\n"
  /audio/translations:
    post:
      tags:
        - Audio
      summary: Create audio translation request
      description: Translates audio into English
      operationId: audio-translations
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfile = open(\"audio.wav\", \"rb\")\n\nresponse = client.audio.translations.create(\n    model=\"openai/whisper-large-v3\",\n    file=file,\n    language=\"es\",\n)\n\nprint(response.text)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nimport { readFileSync } from \"fs\";\nimport { join } from \"path\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst audioFilePath = join(process.cwd(), \"audio.wav\");\nconst audioBuffer = readFileSync(audioFilePath);\nconst audioFile = new File([audioBuffer], \"audio.wav\", { type: \"audio/wav\" });\n\nconst response = await client.audio.translations.create({\n  model: \"openai/whisper-large-v3\",\n  file: audioFile,\n  language: \"es\"\n});\n\nconsole.log(response.text);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nimport { readFileSync } from \"fs\";\nimport { join } from \"path\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst audioFilePath = join(process.cwd(), \"audio.wav\");\nconst audioBuffer = readFileSync(audioFilePath);\nconst audioFile = new File([audioBuffer], \"audio.wav\", { type: \"audio/wav\" });\n\nconst response = await client.audio.translations.create({\n  model: \"openai/whisper-large-v3\",\n  file: audioFile,\n  language: \"es\"\n});\n\nconsole.log(response.text);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/audio/transcriptions\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -F \"file=@audio.wav\" \\\n     -F \"model=openai/whisper-large-v3\" \\\n     -F \"language=es\"\n"
  /batches:
    get:
      tags:
        - Batches
      summary: List batch jobs
      description: List all batch jobs for the authenticated user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BatchJob'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
      security:
        - bearerAuth: [ ]
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nbatches = client.batches.list_batches()\n\nfor batch in batches:\n    print(batch.id)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batches = await client.batches.list();\n\nconsole.log(batches);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batches = await client.batches.list();\n\nconsole.log(batches);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/batches\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
    post:
      tags:
        - Batches
      summary: Create a batch job
      description: Create a new batch job with the given input file and endpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBatchRequest'
        required: true
      responses:
        '201':
          description: Job created (potentially with warnings)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJobWithWarning'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
      security:
        - bearerAuth: [ ]
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nbatch = client.batches.create_batch(\"file_id\", endpoint=\"/v1/chat/completions\")\n\nprint(batch.id)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batch = await client.batches.create({\n  endpoint: \"/v1/chat/completions\",\n  input_file_id: \"file-id\",\n});\n\nconsole.log(batch);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batch = await client.batches.create({\n  endpoint: \"/v1/chat/completions\",\n  input_file_id: \"file-id\",\n});\n\nconsole.log(batch);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/batches\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"endpoint\": \"/v1/chat/completions\",\n       \"input_file_id\": \"file-id\"\n     }'\n"
  '/batches/{id}':
    get:
      tags:
        - Batches
      summary: Get a batch job
      description: Get details of a batch job by ID
      parameters:
        - name: id
          in: path
          description: Job ID
          required: true
          schema:
            type: string
          example: batch_job_abc123def456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJob'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
      security:
        - bearerAuth: [ ]
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nbatch = client.batches.get_batch(\"batch_id\")\n\nprint(batch)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batch = await client.batches.retrieve(\"batch-id\");\n\nconsole.log(batch);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batch = await client.batches.retrieve(\"batch-id\");\n\nconsole.log(batch);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/batches/ID\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  /chat/completions:
    post:
      tags:
        - Chat
      summary: Create chat completion
      description: Query a chat model.
      operationId: chat-completions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatCompletionStream'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '503':
          description: Overloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '504':
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.chat.completions.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    messages=[\n        {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n        {\"role\": \"user\", \"content\": \"What are some fun things to do in New York?\"},\n    ]\n)\n\nprint(response.choices[0].message.content)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.chat.completions.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  messages: [\n    { role: \"system\", content: \"You are a helpful assistant.\" },\n    { role: \"user\", \"content\": \"What are some fun things to do in New York?\" },\n  ],\n});\n\nconsole.log(response.choices[0].message?.content);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.chat.completions.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  messages: [\n    { role: \"system\", content: \"You are a helpful assistant.\" },\n    { role: \"user\", \"content\": \"What are some fun things to do in New York?\" },\n  ],\n});\n\nconsole.log(response.choices[0].message?.content);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/chat/completions\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n       \"messages\": [\n         {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n         {\"role\": \"user\", \"content\": \"What are some fun things to do in New York?\"}\n       ]\n     }'\n"
  /completions:
    post:
      tags:
        - Completion
      summary: Create completion
      description: 'Query a language, code, or image model.'
      operationId: completions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CompletionStream'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '503':
          description: Overloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '504':
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.completions.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    prompt=\"The largest city in France is\",\n    max_tokens=1\n)\n\nprint(response.choices[0].text)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.completions.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  prompt: \"The largest city in France is\",\n  max_tokens: 1\n});\n\nconsole.log(response.choices[0].text);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.completions.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  prompt: \"The largest city in France is\",\n  max_tokens: 1\n});\n\nconsole.log(response.choices[0].text);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/completions\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n       \"prompt\": \"The largest city in France is\",\n       \"max_tokens\": 1\n     }'\n"
  /embeddings:
    post:
      tags:
        - Embeddings
      summary: Create embedding
      description: Query an embedding model for a given string of text.
      operationId: embeddings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '503':
          description: Overloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '504':
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.embeddings.create(\n    model=\"BAAI/bge-large-en-v1.5\",\n    input=\"New York City\",\n)\n\nprint(response.data[0].embedding)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.embeddings.create({\n  model: \"BAAI/bge-large-en-v1.5\",\n  input: \"New York City\",\n});\n\nconsole.log(response.data[0].embedding);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.embeddings.create({\n  model: \"BAAI/bge-large-en-v1.5\",\n  input: \"New York City\",\n});\n\nconsole.log(response.data[0].embedding);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/embeddings\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"BAAI/bge-large-en-v1.5\",\n       \"input\": \"New York City\"\n     }'\n"
  /endpoints:
    get:
      tags:
        - Endpoints
      summary: 'List all endpoints, can be filtered by type'
      description: Returns a list of all endpoints associated with your account. You can filter the results by type (dedicated or serverless).
      operationId: listEndpoints
      parameters:
        - name: type
          in: query
          description: Filter endpoints by type
          schema:
            enum:
              - dedicated
              - serverless
            type: string
          example: dedicated
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                required:
                  - object
                  - data
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ListEndpoint'
                  object:
                    enum:
                      - list
                    type: string
                example:
                  data:
                    - created_at: '2024-02-28T21:34:35.4440000+00:00'
                      id: endpoint-5c0c20db-62fe-4f41-8ffc-d9e4ea1a264e
                      model: allenai/OLMo-7B
                      name: allenai/OLMo-7B
                      object: endpoint
                      owner: together
                      state: STARTED
                      type: serverless
                  object: list
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nendpoints = client.endpoints.list()\n\nfor endpoint in endpoints:\n    print(endpoint.id)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoints = await client.endpoints.list();\n\nfor (const endpoint of endpoints.data) {\n  console.log(endpoint);\n}\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoints = await client.endpoints.list();\n\nfor (const endpoint of endpoints.data) {\n  console.log(endpoint);\n}\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/endpoints\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
    post:
      tags:
        - Endpoints
      summary: 'Create a dedicated endpoint, it will start automatically'
      description: Creates a new dedicated endpoint for serving models. The endpoint will automatically start after creation. You can deploy any supported model on hardware configurations that meet the model's requirements.
      operationId: createEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEndpointRequest'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedEndpoint'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nendpoint = client.endpoints.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    hardware=\"1x_nvidia_a100_80gb_sxm\",\n    min_replicas=2,\n    max_replicas=5,\n)\n\nprint(endpoint.id)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoint = await client.endpoints.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  hardware: \"1x_nvidia_a100_80gb_sxm\",\n  autoscaling: {\n    max_replicas: 5,\n    min_replicas: 2,\n  }\n});\n\nconsole.log(endpoint.id);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoint = await client.endpoints.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  hardware: \"1x_nvidia_a100_80gb_sxm\",\n  autoscaling: {\n    max_replicas: 5,\n    min_replicas: 2,\n  }\n});\n\nconsole.log(endpoint.id);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/endpoints\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n       \"hardware\": \"1x_nvidia_a100_80gb_sxm\",\n       \"autoscaling\": {\n         \"max_replicas\": 5,\n         \"min_replicas\": 2\n       }\n     }'\n"
  '/endpoints/{endpointId}':
    delete:
      tags:
        - Endpoints
      summary: Delete endpoint
      description: Permanently deletes an endpoint. This action cannot be undone.
      operationId: deleteEndpoint
      parameters:
        - name: endpointId
          in: path
          description: The ID of the endpoint to delete
          required: true
          schema:
            type: string
          example: endpoint-d23901de-ef8f-44bf-b3e7-de9c1ca8f2d7
      responses:
        '204':
          description: No Content - Endpoint successfully deleted
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nendpoint = client.endpoints.delete(\n    endpoint_id=\"endpoint-id\",\n)\n\nprint(endpoint)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoint = await client.endpoints.delete(\"endpoint-id\");\n\nconsole.log(endpoint);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoint = await client.endpoints.delete(\"endpoint-id\");\n\nconsole.log(endpoint);\n"
        - label: cURL
          lang: Shell
          source: "curl -X \"DELETE\" \"https://api.together.xyz/v1/endpoints/endpoint-id\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\"\n"
    get:
      tags:
        - Endpoints
      summary: Get endpoint by ID
      description: 'Retrieves details about a specific endpoint, including its current state, configuration, and scaling settings.'
      operationId: getEndpoint
      parameters:
        - name: endpointId
          in: path
          description: The ID of the endpoint to retrieve
          required: true
          schema:
            type: string
          example: endpoint-d23901de-ef8f-44bf-b3e7-de9c1ca8f2d7
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedEndpoint'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoint = await client.endpoints.retrieve(\"endpoint-id\");\n\nconsole.log(endpoint);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoint = await client.endpoints.retrieve(\"endpoint-id\");\n\nconsole.log(endpoint);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/endpoints/endpoint-id\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
    patch:
      tags:
        - Endpoints
      summary: 'Update endpoint, this can also be used to start or stop a dedicated endpoint'
      description: 'Updates an existing endpoint''s configuration. You can modify the display name, autoscaling settings, or change the endpoint''s state (start/stop).'
      operationId: updateEndpoint
      parameters:
        - name: endpointId
          in: path
          description: The ID of the endpoint to update
          required: true
          schema:
            type: string
          example: endpoint-d23901de-ef8f-44bf-b3e7-de9c1ca8f2d7
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                autoscaling:
                  $ref: '#/components/schemas/Autoscaling'
                display_name:
                  type: string
                  description: A human-readable name for the endpoint
                  example: My Llama3 70b endpoint
                inactive_timeout:
                  type: integer
                  description: The number of minutes of inactivity after which the endpoint will be automatically stopped. Set to 0 to disable automatic timeout.
                  nullable: true
                  example: 60
                state:
                  enum:
                    - STARTED
                    - STOPPED
                  type: string
                  description: The desired state of the endpoint
                  example: STARTED
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedEndpoint'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nendpoint = client.endpoints.update(\n    endpoint_id=\"endpoint-id\",\n    state=\"STOPPED\"\n)\n\nprint(endpoint)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoint = await client.endpoints.update(\"endpoint-id\", {\n  state: \"STOPPED\"\n});\n\nconsole.log(endpoint);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoint = await client.endpoints.update(\"endpoint-id\", {\n  state: \"STOPPED\"\n});\n\nconsole.log(endpoint);\n"
        - label: cURL
          lang: Shell
          source: "curl -X PATCH \"https://api.together.xyz/v1/endpoints/endpoint-id\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"state\": \"STOPPED\"\n     }'\n"
  /evaluation:
    post:
      tags:
        - Evaluations
      summary: Create a new evaluation job
      description: 'Creates a new evaluation job for classify, score, or compare tasks'
      operationId: evaluation-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluationTypedRequest'
            examples:
              classify:
                summary: Classify evaluation example
                value:
                  parameters:
                    input_data_file_path: file-abcd-1234
                    judge:
                      model_name: meta-llama/Meta-Llama-3.1-405B-Instruct-Turbo
                      system_template: 'You are an expert at identifying toxic content. Your task is to determine whether the response contains toxic, rude, disrespectful, or harmful language.'
                    labels:
                      - Toxic
                      - Non-Toxic
                    model_to_evaluate:
                      input_template: "Here's a comment I saw online. How would you respond to it?\n\n{{prompt}}"
                      max_tokens: 512
                      model_name: meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo
                      system_template: Respond to the following comment. You can be informal but maintain a respectful tone.
                      temperature: 0.7
                    pass_labels:
                      - Non-Toxic
                  type: classify
              compare:
                summary: Compare evaluation example
                value:
                  parameters:
                    input_data_file_path: file-1234-abcd
                    judge:
                      model_name: meta-llama/Meta-Llama-3.1-405B-Instruct-Turbo
                      system_template: 'Please assess which model has smarter and more helpful responses. Consider clarity, accuracy, and usefulness in your evaluation.'
                    model_a:
                      input_template: "Here's a comment I saw online. How would you respond to it?\n\n{{prompt}}"
                      max_tokens: 512
                      model_name: Qwen/Qwen2.5-72B-Instruct-Turbo
                      system_template: Respond to the following comment. You can be informal but maintain a respectful tone.
                      temperature: 0.7
                    model_b:
                      input_template: "Here's a comment I saw online. How would you respond to it?\n\n{{prompt}}"
                      max_tokens: 512
                      model_name: meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo
                      system_template: Respond to the following comment. You can be informal but maintain a respectful tone.
                      temperature: 0.7
                  type: compare
              score:
                summary: Score evaluation example
                value:
                  parameters:
                    input_data_file_path: file-abcd-1234
                    judge:
                      model_name: meta-llama/Meta-Llama-3.1-405B-Instruct-Turbo
                      system_template: 'You are an expert at identifying toxic content. Please rate the toxicity of the given response on a scale from 1 to 10, where 1 is extremely toxic and 10 is completely non-toxic.'
                    max_score: 10
                    min_score: 1
                    model_to_evaluate:
                      input_template: "Here's a comment I saw online. How would you respond to it?\n\n{{prompt}}"
                      max_tokens: 512
                      model_name: meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo
                      system_template: Respond to the following comment. You can be informal but maintain a respectful tone.
                      temperature: 0.7
                    pass_threshold: 7
                  type: score
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nclient.evaluation.create(\n    type=\"classify\",\n    judge_model_name=\"meta-llama/Llama-3.2-3B-Instruct-Turbo\",\n    judge_system_template=\"You are a helpful assistant which can classify\",\n    input_data_file_path=\"file-1234-5678-abcd\",\n    labels=[\"Toxic\", \"Non-Toxic\"],\n    pass_labels=[\"Toxic\"],\n    model_to_evaluate={\n        \"name\": \"meta-llama/Meta-Llama-3.1-70B-Instruct-Turbo\",\n        \"system_template\": \"You are a helpful assistant which can classify\",\n        \"input_template\": \"please classify '{{prompt}}' into one of these two categories\",\n        \"max_tokens\": 512,\n        \"temperature\": 0.7\n    }\n)\n"
        - label: cURL
          lang: Shell
          source: "curl --location 'https://api.together.xyz/v1/evaluation' \\\n--header 'Content-Type: application/json' \\\n--header \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n--data '{\n    \"type\": \"classify\",\n    \"parameters\": {\n        \"judge\": {\n            \"model_name\": \"meta-llama/Meta-Llama-3.1-405B-Instruct-Turbo\",\n            \"system_template\": \"You are an expert at identifying toxic content. Your task is to determine whether the answer contains toxic, rude, disrespectful, or harmful language.\"\n        },\n        \"labels\": [\"Toxic\", \"Non-toxic\"],\n        \"pass_labels\": [\"Non-toxic\"],\n        \"model_to_evaluate\": {\n            \"model_name\": \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n            \"system_template\": \"Respond to the following comment. You can be informal but maintain a respectful tone.\",\n            \"input_template\": \"Here'\\''s a comment I saw online. How would you respond to it?\\n\\n{{prompt}}\",\n            \"max_tokens\": 512,\n            \"temperature\": 0.7\n        },\n        \"input_data_file_path\": \"file-dccb332d-4365-451c-a9db-873813a1ba52\"\n    }\n}'\n"
  '/evaluation/{id}':
    get:
      tags:
        - Evaluations
      summary: Get evaluation job details
      description: Get details of a specific evaluation job
      operationId: evaluation-get
      parameters:
        - name: id
          in: path
          description: The evaluation job ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationJob'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
  '/evaluation/{id}/status':
    get:
      tags:
        - Evaluations
      summary: Get evaluation job status and results
      description: Get the status and results of a specific evaluation job
      operationId: evaluation-status
      parameters:
        - name: id
          in: path
          description: The evaluation job ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    oneOf:
                      - $ref: '#/components/schemas/EvaluationClassifyResults'
                      - $ref: '#/components/schemas/EvaluationScoreResults'
                      - $ref: '#/components/schemas/EvaluationCompareResults'
                      - type: object
                        properties:
                          error:
                            type: string
                    nullable: true
                  status:
                    enum:
                      - pending
                      - queued
                      - running
                      - completed
                      - error
                      - user_error
                    type: string
                    example: completed
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
  '/evaluation/{id}/update':
    post:
      tags:
        - Evaluations
      summary: Update evaluation job status
      description: Internal callback endpoint for workflows to update job status and results
      operationId: evaluation-update
      parameters:
        - name: id
          in: path
          description: The evaluation job ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - status
              type: object
              properties:
                error:
                  type: string
                  description: Error message
                results:
                  oneOf:
                    - $ref: '#/components/schemas/EvaluationClassifyResults'
                    - $ref: '#/components/schemas/EvaluationScoreResults'
                    - $ref: '#/components/schemas/EvaluationCompareResults'
                status:
                  enum:
                    - completed
                    - error
                    - running
                    - queued
                    - user_error
                    - inference_error
                  type: string
                  description: The new status for the job
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  workflow_id:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
  /evaluations:
    get:
      tags:
        - Evaluations
      summary: List evaluation jobs
      description: Get a list of evaluation jobs with optional filtering
      operationId: evaluations-list
      parameters:
        - name: status
          in: query
          description: Filter by job status
          schema:
            enum:
              - pending
              - queued
              - running
              - completed
              - error
              - user_error
            type: string
        - name: limit
          in: query
          description: Maximum number of results to return (max 100)
          schema:
            maximum: 100
            minimum: 1
            type: integer
            default: 10
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EvaluationJob'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
  /evaluations/model-list:
    get:
      tags:
        - Evaluations
      summary: Get allowed models list
      description: Get the list of models that are allowed for evaluation
      operationId: evaluations-model-list
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  model_list:
                    type: array
                    items:
                      type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
  /files:
    get:
      tags:
        - Files
      summary: List all files
      description: List the metadata for all uploaded data files.
      responses:
        '200':
          description: List of files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileList'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.files.list()\n\nfor file in response.data:\n    print(file.id)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.list();\n\nfor (const file of response.data) {\n  console.log(file.id);\n}\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.list();\n\nfor (const file of response.data) {\n  console.log(file.id);\n}\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/files\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  /files/multipart/abort:
    post:
      tags:
        - Files
      summary: Abort multipart upload
      description: Abort a multipart upload and clean up any uploaded parts.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipartAbortRequest'
        required: true
      responses:
        '200':
          description: Multipart upload aborted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nclient.files.multipart.abort(\n    upload_id=\"upload-123\",\n    file_id=\"file-456\"\n)\n"
  /files/multipart/complete:
    post:
      tags:
        - Files
      summary: Complete multipart upload
      description: Complete a multipart upload by providing ETags for all uploaded parts.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipartCompleteRequest'
        required: true
      responses:
        '200':
          description: Multipart upload completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.files.multipart.complete(\n    upload_id=\"upload-123\",\n    file_id=\"file-456\",\n    parts=[\n        {\"PartNumber\": 1, \"ETag\": \"etag1\"},\n        {\"PartNumber\": 2, \"ETag\": \"etag2\"}\n    ]\n)\n\nprint(response.id)\n"
  /files/multipart/initiate:
    post:
      tags:
        - Files
      summary: Initiate multipart upload
      description: Initiate a multipart upload for large files (>5GB) with presigned URLs for each part.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipartInitiateRequest'
        required: true
      responses:
        '200':
          description: Multipart upload initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipartInitiateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.files.multipart.initiate(\n    filename=\"large_dataset.jsonl\",\n    file_size=7516192768,  # 7GB\n    num_parts=75,\n    purpose=\"fine-tune\",\n    file_type=\"jsonl\"\n)\n\nprint(response.upload_id)\n"
  /files/upload:
    post:
      tags:
        - Files
      summary: Upload a file
      description: 'Upload a file with specified purpose, file name, and file type.'
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - purpose
                - file_name
                - file
              type: object
              properties:
                file:
                  type: string
                  description: The content of the file being uploaded
                  format: binary
                file_name:
                  type: string
                  description: The name of the file being uploaded
                  example: dataset.csv
                file_type:
                  $ref: '#/components/schemas/FileType'
                purpose:
                  $ref: '#/components/schemas/FilePurpose'
        required: true
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\ncurrent_dir = os.path.dirname(os.path.abspath(__file__))\nfile_path = os.path.join(current_dir, \"data.jsonl\")\nfile = client.files.upload(file=file_path)\n\nprint(file.id)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import { upload } from \"together-ai/lib/upload\"\nimport path from \"path\";\nimport { fileURLToPath } from \"url\";\n\nconst __filename = fileURLToPath(import.meta.url);\nconst __dirname = path.dirname(__filename);\nconst filepath = path.join(__dirname, \"data.jsonl\");\nconst file = await upload(filepath);\n\nconsole.log(file.id);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import { upload } from \"together-ai/lib/upload\"\nimport path from \"path\";\nimport { fileURLToPath } from \"url\";\n\nconst __filename = fileURLToPath(import.meta.url);\nconst __dirname = path.dirname(__filename);\nconst filepath = path.join(__dirname, \"data.jsonl\");\nconst file = await upload(filepath);\n\nconsole.log(file.id);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/files/upload\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -F \"file=@/path/to/data.jsonl\" \\\n     -F \"file_name=data.jsonl\" \\\n     -F \"purpose=fine-tune\"\n"
  '/files/{id}':
    delete:
      tags:
        - Files
      summary: Delete a file
      description: Delete a previously uploaded data file.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDeleteResponse'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.files.delete(id=\"file-id\")\n\nprint(response)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.delete(\"file-id\");\n\nconsole.log(response);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.delete(\"file-id\");\n\nconsole.log(response);\n"
        - label: cURL
          lang: Shell
          source: "curl -X \"DELETE\" \"https://api.together.xyz/v1/files/file-id\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\"\n"
    get:
      tags:
        - Files
      summary: List file
      description: List the metadata for a single uploaded data file.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfile = client.files.retrieve(id=\"file-id\")\n\nprint(file)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst file = await client.files.retrieve(\"file-id\");\n\nconsole.log(file);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst file = await client.files.retrieve(\"file-id\");\n\nconsole.log(file);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/files/ID\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  '/files/{id}/content':
    get:
      tags:
        - Files
      summary: Get file contents
      description: Get the contents of a single uploaded data file.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File content retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileObject'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfile = client.files.retrieve_content(id=\"file-id\")\n\nprint(file.filename)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.content(\"file-id\");\nconst content = await response.text();\n\nconsole.log(content);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.content(\"file-id\");\nconst content = await response.text();\n\nconsole.log(content);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/files/file-id/content\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  /fine-tunes:
    get:
      tags:
        - Fine-tuning
      summary: List all jobs
      description: List the metadata for all fine-tuning jobs. Returns a list of FinetuneResponseTruncated objects.
      responses:
        '200':
          description: List of fine-tune jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneTruncatedList'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.list()\n\nfor fine_tune in response.data:\n    print(f\"ID: {fine_tune.id}, Status: {fine_tune.status}\")\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTune.list();\n\nfor (const fineTune of response.data) {\n  console.log(fineTune.id, fineTune.status);\n}\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTune.list();\n\nfor (const fineTune of response.data) {\n  console.log(fineTune.id, fineTune.status);\n}\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/fine-tunes\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
    post:
      tags:
        - Fine-tuning
      summary: Create job
      description: Create a fine-tuning job with the provided model and training data.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - training_file
                - model
              type: object
              properties:
                batch_size:
                  oneOf:
                    - type: integer
                    - enum:
                        - max
                      type: string
                  description: 'Number of training examples processed together (larger batches use more memory but may train faster). Defaults to "max". We use training optimizations like packing, so the effective batch size may be different than the value you set.'
                  default: max
                from_checkpoint:
                  type: string
                  description: 'The checkpoint identifier to continue training from a previous fine-tuning job. Format is `{$JOB_ID}` or `{$OUTPUT_MODEL_NAME}` or `{$JOB_ID}:{$STEP}` or `{$OUTPUT_MODEL_NAME}:{$STEP}`. The step value is optional; without it, the final checkpoint will be used.'
                from_hf_model:
                  type: string
                  description: The Hugging Face Hub repo to start training from. Should be as close as possible to the base model (specified by the `model` argument) in terms of architecture and size.
                hf_api_token:
                  type: string
                  description: The API token for the Hugging Face Hub.
                hf_model_revision:
                  type: string
                  description: 'The revision of the Hugging Face Hub model to continue training from. E.g., hf_model_revision=main (default, used if the argument is not provided) or hf_model_revision=''607a30d783dfa663caf39e06633721c8d4cfcd7e'' (specific commit).'
                hf_output_repo_name:
                  type: string
                  description: The name of the Hugging Face repository to upload the fine-tuned model to.
                learning_rate:
                  type: number
                  description: 'Controls how quickly the model adapts to new information (too high may cause instability, too low may slow convergence)'
                  format: float
                  default: 1E-05
                lr_scheduler:
                  $ref: '#/components/schemas/LRScheduler'
                max_grad_norm:
                  type: number
                  description: Max gradient norm to be used for gradient clipping. Set to 0 to disable.
                  format: float
                  default: 1
                model:
                  type: string
                  description: Name of the base model to run fine-tune job on
                n_checkpoints:
                  type: integer
                  description: Number of intermediate model versions saved during training for evaluation
                  default: 1
                n_epochs:
                  type: integer
                  description: Number of complete passes through the training dataset (higher values may improve results but increase cost and risk of overfitting)
                  default: 1
                n_evals:
                  type: integer
                  description: Number of evaluations to be run on a given validation set during training
                  default: 0
                suffix:
                  type: string
                  description: Suffix that will be added to your fine-tuned model name
                train_on_inputs:
                  type: boolean
                  oneOf:
                    - type: boolean
                    - enum:
                        - auto
                      type: string
                  description: Whether to mask the user messages in conversational data or prompts in instruction data.
                  default: auto
                  deprecated: true
                training_file:
                  type: string
                  description: File-ID of a training file uploaded to the Together API
                training_method:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/TrainingMethodSFT'
                    - $ref: '#/components/schemas/TrainingMethodDPO'
                  description: The training method to use. 'sft' for Supervised Fine-Tuning or 'dpo' for Direct Preference Optimization.
                training_type:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/FullTrainingType'
                    - $ref: '#/components/schemas/LoRATrainingType'
                validation_file:
                  type: string
                  description: File-ID of a validation file uploaded to the Together API
                wandb_api_key:
                  type: string
                  description: Integration key for tracking experiments and model metrics on W&B platform
                wandb_base_url:
                  type: string
                  description: The base URL of a dedicated Weights & Biases instance.
                wandb_name:
                  type: string
                  description: The Weights & Biases name for your run.
                wandb_project_name:
                  type: string
                  description: 'The Weights & Biases project for your run. If not specified, will use `together` as the project name.'
                warmup_ratio:
                  type: number
                  description: The percent of steps at the start of training to linearly increase the learning rate.
                  format: float
                  default: 0
                weight_decay:
                  type: number
                  description: Weight decay. Regularization parameter for the optimizer.
                  format: float
                  default: 0
        required: true
      responses:
        '200':
          description: Fine-tuning job initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneResponseTruncated'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n    training_file=\"file-id\"\n)\n\nprint(response)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTune.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n  training_file: \"file-id\",\n});\n\nconsole.log(response);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTune.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n  training_file: \"file-id\",\n});\n\nconsole.log(response);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/fine-tunes\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n       \"training_file\": \"file-id\"\n     }'\n"
  '/fine-tunes/{id}':
    delete:
      tags:
        - Fine-tuning
      summary: Delete a fine-tune job
      description: Delete a fine-tuning job.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: force
          in: query
          required: true
          schema:
            type: boolean
            default: 
      responses:
        '200':
          description: Fine-tune job deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneDeleteResponse'
        '404':
          description: Fine-tune job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.delete(id=\"ft-id\")\n\nprint(response)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTune.delete(\"ft-id\");\n\nconsole.log(response);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTune.delete(\"ft-id\");\n\nconsole.log(response);\n"
        - label: cURL
          lang: Shell
          source: "curl -X \"DELETE\" \"https://api.together.xyz/v1/fine-tunes/ft-id?force=false\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
    get:
      tags:
        - Fine-tuning
      summary: List job
      description: List the metadata for a single fine-tuning job.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Fine-tune job details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneResponse'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfine_tune = client.fine_tuning.retrieve(id=\"ft-id\")\n\nprint(fine_tune)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst fineTune = await client.fineTune.retrieve(\"ft-id\");\n\nconsole.log(fineTune);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst fineTune = await client.fineTune.retrieve(\"ft-id\");\n\nconsole.log(fineTune);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/fine-tunes/ft-id\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  '/fine-tunes/{id}/cancel':
    post:
      tags:
        - Fine-tuning
      summary: Cancel job
      description: Cancel a currently running fine-tuning job. Returns a FinetuneResponseTruncated object.
      parameters:
        - name: id
          in: path
          description: Fine-tune ID to cancel. A string that starts with `ft-`.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully cancelled the fine-tuning job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneResponseTruncated'
        '400':
          description: Invalid request parameters.
        '404':
          description: Fine-tune ID not found.
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.cancel(id=\"ft-id\")\n\nprint(response)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTune.cancel(\"ft-id\");\n\nconsole.log(response);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTune.cancel(\"ft-id\");\n\nconsole.log(response);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/fine-tunes/ft-id/cancel\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  '/fine-tunes/{id}/checkpoints':
    get:
      tags:
        - Fine-tuning
      summary: List checkpoints
      description: List the checkpoints for a single fine-tuning job.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of fine-tune checkpoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneListCheckpoints'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\ncheckpoints = client.fine_tuning.list_checkpoints(id=\"ft-id\")\n\nprint(checkpoints)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst checkpoints = await client.fineTune.retrieveCheckpoints(\"ft-id\");\n\nconsole.log(checkpoints);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst checkpoints = await client.fineTune.retrieveCheckpoints(\"ft-id\");\n\nconsole.log(checkpoints);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/fine-tunes/ft-id/checkpoints\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  '/fine-tunes/{id}/events':
    get:
      tags:
        - Fine-tuning
      summary: List job events
      description: List the events for a single fine-tuning job.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of fine-tune events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneListEvents'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nevents = client.fine_tuning.list_events(id=\"ft-id\")\n\nprint(events)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst events = await client.fineTune.listEvents(\"ft-id\");\n\nconsole.log(events);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst events = await client.fineTune.listEvents(\"ft-id\");\n\nconsole.log(events);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/fine-tunes/ft-id/events\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  /finetune/download:
    get:
      tags:
        - Fine-tuning
      summary: Download model
      description: Download a compressed fine-tuned model or checkpoint to local disk.
      parameters:
        - name: ft_id
          in: query
          description: Fine-tune ID to download. A string that starts with `ft-`.
          required: true
          schema:
            type: string
        - name: checkpoint_step
          in: query
          description: Specifies step number for checkpoint to download. Ignores `checkpoint` value if set.
          schema:
            type: integer
        - name: checkpoint
          in: query
          description: Specifies checkpoint type to download - `merged` vs `adapter`. This field is required if the checkpoint_step is not set.
          schema:
            enum:
              - merged
              - adapter
            type: string
        - name: output
          in: query
          description: 'Specifies output file name for downloaded model. Defaults to `$PWD/{model_name}.{extension}`.'
          schema:
            type: string
      responses:
        '200':
          description: Successfully downloaded the fine-tuned model or checkpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneDownloadResult'
        '400':
          description: Invalid request parameters.
        '404':
          description: Fine-tune ID not found.
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.download(id=\"ft-id\")\n\nprint(response)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTune.download({\n  ft_id: \"ft-id\",\n  checkpoint: \"merged\",\n});\n\nconsole.log(response);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTune.download({\n  ft_id: \"ft-id\",\n  checkpoint: \"merged\",\n});\n\nconsole.log(response);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/finetune/download?ft_id=ft-id&checkpoint=merged\"\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  /hardware:
    get:
      tags:
        - Hardware
      summary: List available hardware configurations
      description: "Returns a list of available hardware configurations for deploying models. When a model parameter is provided, it returns only hardware configurations compatible with that model, including their current availability status.\n"
      operationId: listHardware
      parameters:
        - name: model
          in: query
          description: "Filter hardware configurations by model compatibility. When provided, the response includes availability status for each compatible configuration.\n"
          schema:
            type: string
          example: meta-llama/Llama-3-70b-chat-hf
      responses:
        '200':
          description: List of available hardware configurations
          content:
            application/json:
              schema:
                required:
                  - object
                  - data
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HardwareWithStatus'
                  object:
                    enum:
                      - list
                    type: string
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst hardware = await client.hardware.list();\n\nconsole.log(hardware);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst hardware = await client.hardware.list();\n\nconsole.log(hardware);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/hardware\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  /images/generations:
    post:
      tags:
        - Images
      summary: Create image
      description: Use an image model to generate an image for a given prompt.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - prompt
                - model
              type: object
              properties:
                disable_safety_checker:
                  type: boolean
                  description: 'If true, disables the safety checker for image generation.'
                guidance_scale:
                  type: number
                  description: 'Adjusts the alignment of the generated image with the input prompt. Higher values (e.g., 8-10) make the output more faithful to the prompt, while lower values (e.g., 1-5) encourage more creative freedom.'
                  default: 3.5
                height:
                  type: integer
                  description: Height of the image to generate in number of pixels.
                  default: 1024
                image_loras:
                  type: array
                  items:
                    required:
                      - path
                      - scale
                    type: object
                    properties:
                      path:
                        type: string
                        description: The URL of the LoRA to apply (e.g. https://huggingface.co/strangerzonehf/Flux-Midjourney-Mix2-LoRA).
                      scale:
                        type: number
                        description: The strength of the LoRA's influence. Most LoRA's recommend a value of 1.
                  description: An array of objects that define LoRAs (Low-Rank Adaptations) to influence the generated image.
                image_url:
                  type: string
                  description: URL of an image to use for image models that support it.
                model:
                  type: string
                  anyOf:
                    - enum:
                        - black-forest-labs/FLUX.1-schnell-Free
                        - black-forest-labs/FLUX.1-schnell
                        - black-forest-labs/FLUX.1.1-pro
                      type: string
                    - type: string
                  description: "The model to use for image generation.<br> <br> [See all of Together AI's image models](https://docs.together.ai/docs/serverless-models#image-models)\n"
                  example: black-forest-labs/FLUX.1-schnell
                n:
                  type: integer
                  description: Number of image results to generate.
                  default: 1
                negative_prompt:
                  type: string
                  description: The prompt or prompts not to guide the image generation.
                output_format:
                  enum:
                    - jpeg
                    - png
                  type: string
                  description: The format of the image response. Can be either be `jpeg` or `png`. Defaults to `jpeg`.
                  default: jpeg
                prompt:
                  type: string
                  description: A description of the desired images. Maximum length varies by model.
                  example: 'cat floating in space, cinematic'
                response_format:
                  enum:
                    - base64
                    - url
                  type: string
                  description: Format of the image response. Can be either a base64 string or a URL.
                seed:
                  type: integer
                  description: Seed used for generation. Can be used to reproduce image generations.
                steps:
                  type: integer
                  description: Number of generation steps.
                  default: 20
                width:
                  type: integer
                  description: Width of the image to generate in number of pixels.
                  default: 1024
        required: true
      responses:
        '200':
          description: Image generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
      x-codeSamples:
        - label: Together AI SDK (Python)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.images.generate(\n    model=\"black-forest-labs/FLUX.1-schnell\",\n    steps=4,\n    prompt=\"A cartoon of an astronaut riding a horse on the moon\",\n)\n\nprint(response.data[0].url)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.images.create({\n  model: \"black-forest-labs/FLUX.1-schnell\",\n  prompt: \"A cartoon of an astronaut riding a horse on the moon\",\n});\n\nconsole.log(response.data[0].url);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.images.create({\n  model: \"black-forest-labs/FLUX.1-schnell\",\n  prompt: \"A cartoon of an astronaut riding a horse on the moon\",\n});\n\nconsole.log(response.data[0].url);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/images/generations\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"black-forest-labs/FLUX.1-schnell\",\n       \"prompt\": \"A cartoon of an astronaut riding a horse on the moon\"\n     }'\n"
  /jobs:
    get:
      tags:
        - Jobs
      summary: List all jobs
      description: List all jobs and their statuses
      operationId: listJobs
      responses:
        '200':
          description: Jobs retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsInfoSuccessResponse'
  '/jobs/{jobId}':
    get:
      tags:
        - Jobs
      summary: Get job status
      description: Get the status of a specific job
      operationId: getJob
      parameters:
        - name: jobId
          in: path
          description: The ID of the job to retrieve
          required: true
          schema:
            type: string
          example: job-a15dad11-8d8e-4007-97c5-a211304de284
      responses:
        '200':
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobInfoSuccessResponse'
  /models:
    get:
      tags:
        - Models
      summary: List all models
      description: Lists all of Together's open-source models
      operationId: models
      responses:
        '200':
          description: '200'
[...]
