openapi: '3.2.0'
info:
  title: Together APIs
  description: The Together REST API. Please see https://docs.together.ai for more details.
  termsOfService: https://www.together.ai/terms-of-service
  contact:
    name: Together Support
    url: https://www.together.ai/contact
  license:
    name: MIT
    url: https://github.com/togethercomputer/openapi/blob/main/LICENSE
  version: 2.0.0
servers:
  - url: https://api.together.xyz/v1
paths:
  /audio/speech:
    post:
      tags:
        - Audio
      summary: Create audio generation request
      description: Generate audio from input text
      operationId: audio-speech
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioSpeechRequest'
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            audio/mpeg:
              schema:
                type: string
                format: binary
            audio/wav:
              schema:
                type: string
                format: binary
            text/event-stream:
              schema:
                $ref: '#/components/schemas/AudioSpeechStreamResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.audio.speech.with_streaming_response.create(\n    model=\"cartesia/sonic-2\",\n    input=\"The quick brown fox jumps over the lazy dog.\",\n    voice=\"laidback woman\",\n)\n\nwith response as stream:\n  stream.stream_to_file(\"audio.wav\")\n"
        - label: Together AI SDK (v1)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.audio.speech.create(\n    model=\"cartesia/sonic-2\",\n    input=\"The quick brown fox jumps over the lazy dog.\",\n    voice=\"laidback woman\",\n)\n\nresponse.stream_to_file(\"audio.wav\")\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nimport { createWriteStream } from \"fs\";\nimport { join } from \"path\";\nimport { pipeline } from \"stream/promises\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.audio.speech.create({\n  model: \"cartesia/sonic-2\",\n  input: \"The quick brown fox jumps over the lazy dog.\",\n  voice: \"laidback woman\",\n});\n\nconst filepath = join(process.cwd(), \"audio.wav\");\nconst writeStream = createWriteStream(filepath);\n\nif (response.body) {\n  await pipeline(response.body, writeStream);\n}\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nimport { createWriteStream } from \"fs\";\nimport { join } from \"path\";\nimport { pipeline } from \"stream/promises\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.audio.speech.create({\n  model: \"cartesia/sonic-2\",\n  input: \"The quick brown fox jumps over the lazy dog.\",\n  voice: \"laidback woman\",\n});\n\nconst filepath = join(process.cwd(), \"audio.wav\");\nconst writeStream = createWriteStream(filepath);\n\nif (response.body) {\n  await pipeline(response.body, writeStream);\n}\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/audio/speech\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"cartesia/sonic-2\",\n       \"input\": \"The quick brown fox jumps over the lazy dog.\",\n       \"voice\": \"laidback woman\"\n     }' \\\n     --output audio.wav\n"
  /audio/speech/websocket:
    get:
      tags:
        - Audio
      summary: Real-time text-to-speech via WebSocket
      description: "Establishes a WebSocket connection for real-time text-to-speech generation. This endpoint uses WebSocket protocol (wss://api.together.ai/v1/audio/speech/websocket) for bidirectional streaming communication.\n\n**Connection Setup:**\n- Protocol: WebSocket (wss://)\n- Authentication: Pass API key as Bearer token in Authorization header\n- Parameters: Sent as query parameters (model, voice, max_partial_length)\n\n**Client Events:**\n- `tts_session.updated`: Update session parameters like voice\n  ```json\n  {\n    \"type\": \"tts_session.updated\",\n    \"session\": {\n      \"voice\": \"tara\"\n    }\n  }\n  ```\n- `input_text_buffer.append`: Send text chunks for TTS generation\n  ```json\n  {\n    \"type\": \"input_text_buffer.append\",\n    \"text\": \"Hello, this is a test.\"\n  }\n  ```\n- `input_text_buffer.clear`: Clear the buffered text\n  ```json\n  {\n    \"type\": \"input_text_buffer.clear\"\n  }\n  ```\n- `input_text_buffer.commit`: Signal end of text input and process remaining text\n  ```json\n  {\n    \"type\": \"input_text_buffer.commit\"\n  }\n  ```\n\n**Server Events:**\n- `session.created`: Initial session confirmation (sent first)\n  ```json\n  {\n    \"event_id\": \"evt_123456\",\n    \"type\": \"session.created\",\n    \"session\": {\n      \"id\": \"session-id\",\n      \"object\": \"realtime.tts.session\",\n      \"modalities\": [\"text\", \"audio\"],\n      \"model\": \"hexgrad/Kokoro-82M\",\n      \"voice\": \"tara\"\n    }\n  }\n  ```\n- `conversation.item.input_text.received`: Acknowledgment that text was received\n  ```json\n  {\n    \"type\": \"conversation.item.input_text.received\",\n    \"text\": \"Hello, this is a test.\"\n  }\n  ```\n- `conversation.item.audio_output.delta`: Audio chunks as base64-encoded data\n  ```json\n  {\n    \"type\": \"conversation.item.audio_output.delta\",\n    \"item_id\": \"tts_1\",\n    \"delta\": \"<base64_encoded_audio_chunk>\"\n  }\n  ```\n- `conversation.item.audio_output.done`: Audio generation complete for an item\n  ```json\n  {\n    \"type\": \"conversation.item.audio_output.done\",\n    \"item_id\": \"tts_1\"\n  }\n  ```\n- `conversation.item.tts.failed`: Error occurred\n  ```json\n  {\n    \"type\": \"conversation.item.tts.failed\",\n    \"error\": {\n      \"message\": \"Error description\",\n      \"type\": \"invalid_request_error\",\n      \"param\": null,\n      \"code\": \"invalid_api_key\"\n    }\n  }\n  ```\n\n**Text Processing:**\n- Partial text (no sentence ending) is held in buffer until:\n  - We believe that the text is complete enough to be processed for TTS generation\n  - The partial text exceeds `max_partial_length` characters (default: 250)\n  - The `input_text_buffer.commit` event is received\n\n**Audio Format:**\n- Format: WAV (PCM s16le)\n- Sample Rate: 24000 Hz\n- Encoding: Base64\n- Delivered via `conversation.item.audio_output.delta` events\n\n**Error Codes:**\n- `invalid_api_key`: Invalid API key provided (401)\n- `missing_api_key`: Authorization header missing (401)\n- `model_not_available`: Invalid or unavailable model (400)\n- Invalid text format errors (400)\n"
      operationId: realtime-tts
      parameters:
        - name: model
          in: query
          schema:
            enum:
              - hexgrad/Kokoro-82M
              - cartesia/sonic-english
            type: string
            description: The TTS model to use for speech generation. Can also be set via `tts_session.updated` event.
            default: hexgrad/Kokoro-82M
        - name: voice
          in: query
          schema:
            type: string
            description: "The voice to use for speech generation. Default is 'tara'.\nAvailable voices vary by model. Can also be updated via `tts_session.updated` event.\n"
        - name: max_partial_length
          in: query
          schema:
            type: integer
            description: "Maximum number of characters in partial text before forcing TTS generation\neven without a sentence ending. Helps reduce latency for long text without punctuation.\n"
            default: 250
      responses:
        '101':
          description: "Switching Protocols - WebSocket connection established successfully.\n\nError message format:\n```json\n{\n  \"type\": \"conversation.item.tts.failed\",\n  \"error\": {\n    \"message\": \"Error description\",\n    \"type\": \"invalid_request_error\",\n    \"param\": null,\n    \"code\": \"error_code\"\n  }\n}\n```\n"
      x-codeSamples:
        - label: Python WebSocket Client
          lang: Python
          source: "import asyncio\nimport websockets\nimport json\nimport base64\nimport os\n\nasync def generate_speech():\n    api_key = os.environ.get(\"TOGETHER_API_KEY\")\n    url = \"wss://api.together.ai/v1/audio/speech/websocket?model=hexgrad/Kokoro-82M&voice=tara\"\n\n    headers = {\n        \"Authorization\": f\"Bearer {api_key}\"\n    }\n\n    async with websockets.connect(url, additional_headers=headers) as ws:\n        # Wait for session created\n        session_msg = await ws.recv()\n        session_data = json.loads(session_msg)\n        print(f\"Session created: {session_data['session']['id']}\")\n\n        # Send text for TTS\n        text_chunks = [\n            \"Hello, this is a test.\",\n            \"This is the second sentence.\",\n            \"And this is the final one.\"\n        ]\n\n        async def send_text():\n            for chunk in text_chunks:\n                await ws.send(json.dumps({\n                    \"type\": \"input_text_buffer.append\",\n                    \"text\": chunk\n                }))\n                await asyncio.sleep(0.5)  # Simulate typing\n\n            # Commit to process any remaining text\n            await ws.send(json.dumps({\n                \"type\": \"input_text_buffer.commit\"\n            }))\n\n        async def receive_audio():\n            audio_data = bytearray()\n            async for message in ws:\n                data = json.loads(message)\n\n                if data[\"type\"] == \"conversation.item.input_text.received\":\n                    print(f\"Text received: {data['text']}\")\n                elif data[\"type\"] == \"conversation.item.audio_output.delta\":\n                    # Decode base64 audio chunk\n                    audio_chunk = base64.b64decode(data['delta'])\n                    audio_data.extend(audio_chunk)\n                    print(f\"Received audio chunk for item {data['item_id']}\")\n                elif data[\"type\"] == \"conversation.item.audio_output.done\":\n                    print(f\"Audio generation complete for item {data['item_id']}\")\n                elif data[\"type\"] == \"conversation.item.tts.failed\":\n                    error = data.get(\"error\", {})\n                    print(f\"Error: {error.get('message')}\")\n                    break\n\n            # Save the audio to a file\n            with open(\"output.wav\", \"wb\") as f:\n                f.write(audio_data)\n            print(\"Audio saved to output.wav\")\n\n        # Run send and receive concurrently\n        await asyncio.gather(send_text(), receive_audio())\n\nasyncio.run(generate_speech())\n"
        - label: Node.js WebSocket Client
          lang: JavaScript
          source: "import WebSocket from 'ws';\nimport fs from 'fs';\n\nconst apiKey = process.env.TOGETHER_API_KEY;\nconst url = 'wss://api.together.ai/v1/audio/speech/websocket?model=hexgrad/Kokoro-82M&voice=tara';\n\nconst ws = new WebSocket(url, {\n  headers: {\n    'Authorization': `Bearer ${apiKey}`\n  }\n});\n\nconst audioData = [];\n\nws.on('open', () => {\n  console.log('WebSocket connection established!');\n});\n\nws.on('message', (data) => {\n  const message = JSON.parse(data.toString());\n\n  if (message.type === 'session.created') {\n    console.log(`Session created: ${message.session.id}`);\n\n    // Send text chunks\n    const textChunks = [\n      \"Hello, this is a test.\",\n      \"This is the second sentence.\",\n      \"And this is the final one.\"\n    ];\n\n    textChunks.forEach((text, index) => {\n      setTimeout(() => {\n        ws.send(JSON.stringify({\n          type: 'input_text_buffer.append',\n          text: text\n        }));\n      }, index * 500);\n    });\n\n    // Commit after all chunks\n    setTimeout(() => {\n      ws.send(JSON.stringify({\n        type: 'input_text_buffer.commit'\n      }));\n    }, textChunks.length * 500 + 100);\n\n  } else if (message.type === 'conversation.item.input_text.received') {\n    console.log(`Text received: ${message.text}`);\n  } else if (message.type === 'conversation.item.audio_output.delta') {\n    // Decode base64 audio chunk\n    const audioChunk = Buffer.from(message.delta, 'base64');\n    audioData.push(audioChunk);\n    console.log(`Received audio chunk for item ${message.item_id}`);\n  } else if (message.type === 'conversation.item.audio_output.done') {\n    console.log(`Audio generation complete for item ${message.item_id}`);\n  } else if (message.type === 'conversation.item.tts.failed') {\n    const errorMessage = message.error?.message ?? 'Unknown error';\n    console.error(`Error: ${errorMessage}`);\n    ws.close();\n  }\n});\n\nws.on('close', () => {\n  // Save the audio to a file\n  if (audioData.length > 0) {\n    const completeAudio = Buffer.concat(audioData);\n    fs.writeFileSync('output.wav', completeAudio);\n    console.log('Audio saved to output.wav');\n  }\n});\n\nws.on('error', (error) => {\n  console.error('WebSocket error:', error);\n});\n"
  /audio/transcriptions:
    post:
      tags:
        - Audio
      summary: Create audio transcription request
      description: Transcribes audio into text
      operationId: audio-transcriptions
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranscriptionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranscriptionResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfile = open(\"audio.wav\", \"rb\")\n\nresponse = client.audio.transcriptions.create(\n    model=\"openai/whisper-large-v3\",\n    file=file,\n)\n\nprint(response.text)\n"
        - label: Together AI SDK (v1)
          lang: Python
          source: "from together import Together\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfile = open(\"audio.wav\", \"rb\")\n\nresponse = client.audio.transcriptions.create(\n    model=\"openai/whisper-large-v3\",\n    file=file,\n)\n\nprint(response.text)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nimport { readFileSync } from \"fs\";\nimport { join } from \"path\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst audioFilePath = join(process.cwd(), \"audio.wav\");\nconst audioBuffer = readFileSync(audioFilePath);\nconst audioFile = new File([audioBuffer], \"audio.wav\", { type: \"audio/wav\" });\n\nconst response = await client.audio.transcriptions.create({\n  model: \"openai/whisper-large-v3\",\n  file: audioFile,\n});\n\nconsole.log(response.text);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nimport { readFileSync } from \"fs\";\nimport { join } from \"path\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst audioFilePath = join(process.cwd(), \"audio.wav\");\nconst audioBuffer = readFileSync(audioFilePath);\nconst audioFile = new File([audioBuffer], \"audio.wav\", { type: \"audio/wav\" });\n\nconst response = await client.audio.transcriptions.create({\n  model: \"openai/whisper-large-v3\",\n  file: audioFile,\n});\n\nconsole.log(response.text);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/audio/transcriptions\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -F \"file=@audio.wav\" \\\n     -F \"model=openai/whisper-large-v3\"\n"
  /audio/translations:
    post:
      tags:
        - Audio
      summary: Create audio translation request
      description: Translates audio into English
      operationId: audio-translations
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioTranslationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTranslationResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfile = open(\"audio.wav\", \"rb\")\n\nresponse = client.audio.translations.create(\n    model=\"openai/whisper-large-v3\",\n    file=file,\n    language=\"es\",\n)\n\nprint(response.text)\n"
        - label: Together AI SDK (v1)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfile = open(\"audio.wav\", \"rb\")\n\nresponse = client.audio.translations.create(\n    model=\"openai/whisper-large-v3\",\n    file=file,\n    language=\"es\",\n)\n\nprint(response.text)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nimport { readFileSync } from \"fs\";\nimport { join } from \"path\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst audioFilePath = join(process.cwd(), \"audio.wav\");\nconst audioBuffer = readFileSync(audioFilePath);\nconst audioFile = new File([audioBuffer], \"audio.wav\", { type: \"audio/wav\" });\n\nconst response = await client.audio.translations.create({\n  model: \"openai/whisper-large-v3\",\n  file: audioFile,\n  language: \"es\"\n});\n\nconsole.log(response.text);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nimport { readFileSync } from \"fs\";\nimport { join } from \"path\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst audioFilePath = join(process.cwd(), \"audio.wav\");\nconst audioBuffer = readFileSync(audioFilePath);\nconst audioFile = new File([audioBuffer], \"audio.wav\", { type: \"audio/wav\" });\n\nconst response = await client.audio.translations.create({\n  model: \"openai/whisper-large-v3\",\n  file: audioFile,\n  language: \"es\"\n});\n\nconsole.log(response.text);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/audio/translations\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -F \"file=@audio.wav\" \\\n     -F \"model=openai/whisper-large-v3\" \\\n     -F \"language=es\"\n"
  /batches:
    get:
      tags:
        - Batches
      summary: List batch jobs
      description: List all batch jobs for the authenticated user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BatchJob'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
      security:
        - bearerAuth: [ ]
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nbatches = client.batches.list()\n\nfor batch in batches:\n    print(batch.id)\n"
        - label: Together AI SDK (v1)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nbatches = client.batches.list_batches()\n\nfor batch in batches:\n    print(batch.id)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batches = await client.batches.list();\n\nconsole.log(batches);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batches = await client.batches.list();\n\nconsole.log(batches);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/batches\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
    post:
      tags:
        - Batches
      summary: Create a batch job
      description: Create a new batch job with the given input file and endpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBatchRequest'
        required: true
      responses:
        '201':
          description: Job created (potentially with warnings)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJobWithWarning'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
      security:
        - bearerAuth: [ ]
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nbatch = client.batches.create(input_file_id=\"file_id\", endpoint=\"/v1/chat/completions\")\n\nprint(batch.job)\n"
        - label: Together AI SDK (v1)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nbatch = client.batches.create_batch(\"file_id\", endpoint=\"/v1/chat/completions\")\n\nprint(batch.id)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batch = await client.batches.create({\n  endpoint: \"/v1/chat/completions\",\n  input_file_id: \"file-id\",\n});\n\nconsole.log(batch);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batch = await client.batches.create({\n  endpoint: \"/v1/chat/completions\",\n  input_file_id: \"file-id\",\n});\n\nconsole.log(batch);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/batches\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"endpoint\": \"/v1/chat/completions\",\n       \"input_file_id\": \"file-id\"\n     }'\n"
  '/batches/{id}':
    get:
      tags:
        - Batches
      summary: Get a batch job
      description: Get details of a batch job by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the batch job to retrieve
            example: batch_job_abc123def456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJob'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
      security:
        - bearerAuth: [ ]
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nbatch = client.batches.retrieve(\"batch_id\")\n\nprint(batch)\n"
        - label: Together AI SDK (v1)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nbatch = client.batches.get_batch(\"batch_id\")\n\nprint(batch)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batch = await client.batches.retrieve(\"batch-id\");\n\nconsole.log(batch);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batch = await client.batches.retrieve(\"batch-id\");\n\nconsole.log(batch);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/batches/ID\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  '/batches/{id}/cancel':
    post:
      tags:
        - Batches
      summary: Cancel a batch job
      description: Cancel a batch job by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the batch job to cancel
            example: batch_job_abc123def456
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJob'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchErrorResponse'
      security:
        - bearerAuth: [ ]
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nbatch = client.batches.cancel(\"batch_id\")\n\nprint(batch)\n"
        - label: Together AI SDK (v1)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nbatch = client.batches.cancel(\"batch_id\")\n\nprint(batch)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batch = await client.batches.cancel(\"batch-id\");\n\nconsole.log(batch);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst batch = await client.batches.cancel(\"batch-id\");\n\nconsole.log(batch);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/batches/ID/cancel\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  /chat/completions:
    post:
      tags:
        - Chat
      summary: Create chat completion
      description: 'Generate a model response for a given chat conversation. Supports single queries and multi-turn conversations with system, user, and assistant messages.'
      operationId: chat-completions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatCompletionStream'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '503':
          description: Overloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '504':
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.chat.completions.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    messages=[\n        {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n        {\"role\": \"user\", \"content\": \"What are some fun things to do in New York?\"},\n    ]\n)\n"
        - label: Together AI SDK (v1)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.chat.completions.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    messages=[\n        {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n        {\"role\": \"user\", \"content\": \"What are some fun things to do in New York?\"},\n    ]\n)\n\nprint(response.choices[0].message.content)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.chat.completions.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  messages: [\n    { role: \"system\", content: \"You are a helpful assistant.\" },\n    { role: \"user\", \"content\": \"What are some fun things to do in New York?\" },\n  ],\n});\n\nconsole.log(response.choices[0].message?.content);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.chat.completions.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  messages: [\n    { role: \"system\", content: \"You are a helpful assistant.\" },\n    { role: \"user\", \"content\": \"What are some fun things to do in New York?\" },\n  ],\n});\n\nconsole.log(response.choices[0].message?.content);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/chat/completions\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n       \"messages\": [\n         {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n         {\"role\": \"user\", \"content\": \"What are some fun things to do in New York?\"}\n       ]\n     }'\n"
  /clusters/availability-zones:
    get:
      tags:
        - endpoints
      summary: List all available availability zones.
      description: List all available availability zones.
      operationId: availabilityZones
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailibilityZonesResponse'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.endpoints.list_avzones()\n\nprint(response.avzones)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.endpoints.listAvzones();\n\nconsole.log(response.avzones);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.endpoints.listAvzones();\n\nconsole.log(response.avzones);\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/clusters/availability-zones\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  /completions:
    post:
      tags:
        - Completion
      summary: Create completion
      description: 'Generate text completions for a given prompt using a language, code, or image model.'
      operationId: completions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CompletionStream'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '503':
          description: Overloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '504':
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.completions.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    prompt=\"The largest city in France is\",\n    max_tokens=1\n)\n\nprint(response.choices[0].text)\n"
        - label: Together AI SDK (v1)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.completions.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    prompt=\"The largest city in France is\",\n    max_tokens=1\n)\n\nprint(response.choices[0].text)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.completions.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  prompt: \"The largest city in France is\",\n  max_tokens: 1,\n});\n\nconsole.log(response.choices[0].text);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.completions.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  prompt: \"The largest city in France is\",\n  max_tokens: 1\n});\n\nconsole.log(response.choices[0].text);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/completions\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n       \"prompt\": \"The largest city in France is\",\n       \"max_tokens\": 1\n     }'\n"
  /compute/clusters:
    get:
      tags:
        - GPUClusterService
      summary: List all GPU clusters.
      description: List all GPU clusters.
      operationId: GPUClusterService_List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPUClusters'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.beta.clusters.list()\n\nprint(response.clusters)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.beta.clusters.list();\n\nconsole.log(response.clusters);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.beta.clusters.list();\n\nconsole.log(response.clusters);\n"
    post:
      tags:
        - GPUClusterService
      summary: Create GPU Cluster
      description: "Create an Instant Cluster on Together's high-performance GPU clusters.\nWith features like on-demand scaling, long-lived resizable high-bandwidth shared DC-local storage,\nKubernetes and Slurm cluster flavors, a REST API, and Terraform support,\nyou can run workloads flexibly without complex infrastructure management.\n"
      operationId: GPUClusterService_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GPUClusterCreateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPUClusterInfo'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\n\nclient = Together()\n\nresponse = client.beta.clusters.create(\n  cluster_name=\"my-gpu-cluster\",\n  region=\"us-central-8\",\n  gpu_type=\"H100_SXM\",\n  num_gpus=8,\n  driver_version=\"CUDA_12_6_560\",\n  billint_type=\"ON_DEMAND\",\n)\n\nprint(response.cluster_id)\n"
        - label: Together AI SDK (v2)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together();\n\nconst response = await client.beta.clusters.create({\n  cluster_name: \"my-gpu-cluster\",\n  region: \"us-central-8\",\n  gpu_type: \"H100_SXM\",\n  num_gpus: 8,\n  driver_version: \"CUDA_12_6_560\",\n  billint_type: \"ON_DEMAND\",\n});\n\nconsole.log(response.cluster_id)\n"
        - label: Together AI SDK (v2)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together();\n\nconst response = await client.beta.clusters.create({\n  cluster_name: \"my-gpu-cluster\",\n  region: \"us-central-8\",\n  gpu_type: \"H100_SXM\",\n  num_gpus: 8,\n  driver_version: \"CUDA_12_6_560\",\n  billint_type: \"ON_DEMAND\",\n});\n\nconsole.log(response.cluster_id)\n"
        - label: CLI
          lang: Shell
          source: "curl -X POST \\\n      -H \"Authorization Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"region\": \"us-west-2\", \"gpu_type\": \"H100_SXM\", \"num_gpus\": 8, \"cluster_name\": \"my-gpu-cluster\", \"driver_version\": \"CUDA_12_6_560\" }' \\\n      https://api.together.ai/v1/compute/clusters\n"
  /compute/clusters/storage/volumes:
    get:
      tags:
        - SharedVolumeService
      summary: List all shared volumes.
      description: List all shared volumes.
      operationId: SharedVolumeService_List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPUClustersSharedVolumes'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nvolumes = client.beta.clusters.storage.list()\nprint(volumes)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.clusters.storage.list();\nconsole.log(volumes);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.clusters.storage.list();\nconsole.log(volumes);\n"
        - label: cURL
          lang: Shell
          source: "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/compute/clusters/storages\n"
    post:
      tags:
        - SharedVolumeService
      summary: Create a shared volume.
      description: "Instant Clusters supports long-lived, resizable in-DC shared storage with user data persistence.\nYou can dynamically create and attach volumes to your cluster at cluster creation time, and resize as your data grows.\nAll shared storage is backed by multi-NIC bare metal paths, ensuring high-throughput and low-latency performance for shared storage.\n"
      operationId: SharedVolumeService_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GPUClustersSharedVolumeCreateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPUClustersSharedVolume'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nvolume = client.beta.clusters.storage.create(\n  volume_name=\"my-shared-volume\",\n  size_tib=2,\n  region=\"us-west-2\"\n)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volume = await client.beta.clusters.storage.create({\n  volume_name: \"my-shared-volume\",\n  size_tib: 2,\n  region: \"us-west-2\"\n});\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volume = await client.beta.clusters.storage.create({\n  volume_name: \"my-shared-volume\",\n  size_tib: 2,\n  region: \"us-west-2\"\n});\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"volume_name\": \"my-shared-volume\", \"size_tib\": 2, \"region\": \"us-west-2\" }' \\\n      https://api.together.ai/v1/compute/clusters/storage/volumes\n"
    put:
      tags:
        - SharedVolumeService
      summary: Update a shared volume.
      description: "Update the configuration of an existing shared volume.\n"
      operationId: SharedVolumeService_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GPUClustersSharedVolumeUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPUClustersSharedVolume'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nvolume = client.beta.clusters.storage.update(\n  volume_id=\"12345-67890-12345-67890\",\n  size_tib=3\n)\nprint(volume)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volume = await client.beta.clusters.storage.update({\n  volume_id: \"12345-67890-12345-67890\",\n  size_tib: 3\n});\nconsole.log(volume);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volume = await client.beta.clusters.storage.update({\n  volume_id: \"12345-67890-12345-67890\",\n  size_tib: 3\n});\nconsole.log(volume);\n"
        - label: cURL
          lang: Shell
          source: "curl -X PUT \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"volume_id\": \"12345-67890-12345-67890\", \"size_tib\": 3}' \\\n      https://api.together.ai/v1/compute/clusters/storage/volumes\n"
  '/compute/clusters/storage/volumes/{volume_id}':
    delete:
      tags:
        - SharedVolumeService
      summary: Delete shared volume by volume id.
      description: "Delete a shared volume. Note that if this volume is attached to a cluster, deleting will fail.\n"
      operationId: SharedVolumeService_Delete
      parameters:
        - name: volume_id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the volume to delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPUClustersSharedVolumeDeleteResponse'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nvolume = client.beta.clusters.storage.delete(\"volume_id\")\nprint(volume)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volume = await client.beta.clusters.storage.delete(\"volume_id\");\nconsole.log(volume);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volume = await client.beta.clusters.storage.delete(\"volume_id\");\nconsole.log(volume);\n"
        - label: cURL
          lang: Shell
          source: "curl -X DELETE \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/compute/clusters/storage/volumes/${VOLUME_ID}\n"
    get:
      tags:
        - SharedVolumeService
      summary: Get shared volume by volume Id.
      description: Retrieve information about a specific shared volume.
      operationId: SharedVolumeService_Get
      parameters:
        - name: volume_id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the volume to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPUClustersSharedVolume'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nvolume = client.beta.clusters.storage.retrieve(\"volume_id\")\nprint(volume)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volume = await client.beta.clusters.storage.retrieve(\"volume_id\");\nconsole.log(volume);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volume = await client.beta.clusters.storage.retrieve(\"volume_id\");\nconsole.log(volume);\n"
        - label: cURL
          lang: Shell
          source: "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/compute/clusters/storage/volumes/${VOLUME_ID}\n"
  '/compute/clusters/{cluster_id}':
    delete:
      tags:
        - GPUClusterService
      summary: Delete GPU cluster by cluster ID
      description: Delete a GPU cluster by cluster ID.
      operationId: GPUClusterService_Delete
      parameters:
        - name: cluster_id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the cluster to delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                required:
                  - cluster_id
                type: object
                properties:
                  cluster_id:
                    type: string
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\ncluster = client.beta.clusters.delete(\"cluster_id\")\nprint(cluster)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst cluster = await client.beta.clusters.delete(\"cluster_id\");\nconsole.log(cluster);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst cluster = await client.beta.clusters.delete(\"cluster_id\");\nconsole.log(cluster);\n"
        - label: cURL
          lang: Shell
          source: "curl -X DELETE \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/compute/clusters/${CLUSTER_ID}\n"
    get:
      tags:
        - GPUClusterService
      summary: Get GPU cluster by cluster ID
      description: Retrieve information about a specific GPU cluster.
      operationId: GPUClusterService_Get
      parameters:
        - name: cluster_id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the cluster to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPUClusterInfo'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\ncluster = client.beta.clusters.retrieve(\"cluster_id\")\nprint(cluster)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst cluster = await client.beta.clusters.retrieve(\"cluster_id\");\nconsole.log(cluster);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst cluster = await client.beta.clusters.retrieve(\"cluster_id\");\nconsole.log(cluster);\n"
    put:
      tags:
        - GPUClusterService
      summary: Update a GPU Cluster.
      description: Update the configuration of an existing GPU cluster.
      operationId: GPUClusterService_Update
      parameters:
        - name: cluster_id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the cluster to update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GPUClusterUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPUClusterInfo'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\ncluster = client.beta.clusters.update(\"cluster_id\", cluster_type=\"KUBERNETES\", num_gpus=24)\nprint(cluster)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst cluster = await client.beta.clusters.update({\n  cluster_id: \"cluster_id\",\n  cluster_type: \"kubernetes\",\n  num_gpus: 24,\n})\nconsole.log(cluster)\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst cluster = await client.beta.clusters.update({\n  cluster_id: \"cluster_id\",\n  cluster_type: \"kubernetes\",\n  num_gpus: 24,\n})\nconsole.log(cluster)\n"
        - label: cURL
          lang: Shell
          source: "curl -X PUT \\\n      -H \"Authorization Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"cluster_id\": \"cluster id\", \"cluster_type\": \"kubernetes\", \"num_gpus\": 24 }' \\\n      https://api.together.ai/v1/compute/clusters\n"
  /compute/regions:
    get:
      tags:
        - RegionService
      summary: List regions and corresponding supported driver versions
      operationId: RegionService_List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionListResponse'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nregions = client.beta.clusters.list_regions()\nprint(regions)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst regions = await client.beta.clusters.list_regions();\nconsole.log(regions);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst regions = await client.beta.clusters.list_regions();\nconsole.log(regions);\n"
        - label: cURL
          lang: Shell
          source: "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/compute/regions\n"
  /deployments:
    get:
      tags:
        - Deployments
      summary: Get the list of deployments
      description: Get a list of all deployments in your project
      responses:
        '200':
          description: List of deployments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\ndeployments = client.beta.jig.list()\nprint(deployments)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployments = await client.beta.jig.list();\nconsole.log(deployments);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployments = await client.beta.jig.list();\nconsole.log(deployments);\n"
        - label: cURL
          lang: Shell
          source: "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments\n"
    post:
      tags:
        - Deployments
      summary: Create a new deployment
      description: Create a new deployment with specified configuration
      requestBody:
        description: Deployment configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentRequest'
        required: true
      responses:
        '200':
          description: Deployment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.deploy(\n  name=\"my-deployment\",\n  gpu_type=\"h100-80gb\",\n  image=\"registry.together.xyz/proj_abcdefg1234567890/my-image:latest\"\n)\nprint(deployment)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.deploy({\n  name: \"my-deployment\",\n  gpu_type: \"h100-80gb\",\n  image: \"registry.together.xyz/proj_abcdefg1234567890/my-image:latest\"\n});\nconsole.log(deployment);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.deploy({\n  name: \"my-deployment\",\n  gpu_type: \"h100-80gb\",\n  image: \"registry.together.xyz/proj_abcdefg1234567890/my-image:latest\"\n});\nconsole.log(deployment);\n"
  /deployments/secrets:
    get:
      tags:
        - Secrets
      summary: Get the list of project secrets
      description: Retrieve all secrets in your project
      responses:
        '200':
          description: List of secrets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecretsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nsecrets = client.beta.jig.secrets.list()\nprint(secrets)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst secrets = await client.beta.jig.secrets.list();\nconsole.log(secrets);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst secrets = await client.beta.jig.secrets.list();\nconsole.log(secrets);\n"
    post:
      tags:
        - Secrets
      summary: Create a new secret
      description: Create a new secret to store sensitive configuration values
      requestBody:
        description: Secret configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
        required: true
      responses:
        '200':
          description: Secret created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nclient.beta.jig.secrets.create(name=\"my-secret\", value=\"my-value\")\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.create({ name: \"my-secret\", value: \"my-value\" });\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.create({ name: \"my-secret\", value: \"my-value\" });\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"name\": \"my-secret\", \"value\": \"my-value\" }' \\\n      https://api.together.ai/v1/deployments/secrets\n"
  '/deployments/secrets/{id}':
    delete:
      tags:
        - Secrets
      summary: Delete a secret
      description: Delete an existing secret
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Secret ID or name
      responses:
        '200':
          description: Secret deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Secret not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nclient.beta.jig.secrets.delete(\"my-secret\")\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.delete(\"my-secret\");\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.delete(\"my-secret\");\n"
        - label: cURL
          lang: Shell
          source: "curl -X DELETE \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"
    get:
      tags:
        - Secrets
      summary: Get a secret by ID or name
      description: Retrieve details of a specific secret by its ID or name
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Secret ID or name
      responses:
        '200':
          description: Secret details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseItem'
        '404':
          description: Secret not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nsecret = client.beta.jig.secrets.retrieve(\"my-secret\")\nprint(secret)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst secret = await client.beta.jig.secrets.retrieve(\"my-secret\");\nconsole.log(secret);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst secret = await client.beta.jig.secrets.retrieve(\"my-secret\");\nconsole.log(secret);\n"
        - label: cURL
          lang: Shell
          source: "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"
    patch:
      tags:
        - Secrets
      summary: Update a secret
      description: Update an existing secret's value or metadata
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Secret ID or name
      requestBody:
        description: Updated secret configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretRequest'
        required: true
      responses:
        '200':
          description: Secret updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Secret not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nclient.beta.jig.secrets.update(\"my-secret\", value=\"my-new-value\")\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.update(\"my-secret\", { value: \"my-new-value\" });\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.update(\"my-secret\", { value: \"my-new-value\" });\n"
        - label: cURL
          lang: Shell
          source: "curl -X PATCH \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"value\": \"my-new-value\" }' \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"
  /deployments/storage/volumes:
    get:
      tags:
        - DeploymentsVolumes
      summary: Get the list of project volumes
      description: Retrieve all volumes in your project
      responses:
        '200':
          description: List of volumes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVolumesResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nvolumes = client.beta.jig.storage.volumes.list()\nprint(volumes)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.jig.storage.volumes.list();\nconsole.log(volumes);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.jig.storage.volumes.list();\nconsole.log(volumes);\n"
        - label: cURL
          lang: Shell
          source: "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/storage/volumes\n"
    post:
      tags:
        - DeploymentsVolumes
      summary: Create a new volume
      description: Create a new volume to preload files in deployments
      requestBody:
        description: Volume configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVolumeRequest'
        required: true
      responses:
        '200':
          description: Volume created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\nvolumes = client.beta.jig.volumes.create(name=\"my-volume\")\nprint(volumes)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.jig.volumes.create({ name: \"my-volume\" });\nconsole.log(volumes);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.jig.volumes.create({ name: \"my-volume\" });\nconsole.log(volumes);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"name\": \"my-volume\" }' \\\n      https://api.together.ai/v1/deployments/storage/volumes\n"
  '/deployments/storage/volumes/{id}':
    delete:
      tags:
        - Volumes
      summary: Delete a volume
      description: Delete an existing volume
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Volume ID or name
      responses:
        '200':
          description: Volume deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Volume not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
    get:
      tags:
        - Volumes
      summary: Get a volume by ID or name
      description: Retrieve details of a specific volume by its ID or name
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Volume ID or name
      responses:
        '200':
          description: Volume details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResponseItem'
        '404':
          description: Volume not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
        - Volumes
      summary: Update a volume
      description: Update an existing volume's configuration or contents
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Volume ID or name.
      requestBody:
        description: Updated volume configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVolumeRequest'
        required: true
      responses:
        '200':
          description: Volume updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Volume not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
  '/deployments/storage/{filename}':
    get:
      tags:
        - DeploymentsStorage
      summary: Download a file
      description: Download a file by redirecting to a signed URL
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
            description: Filename
      responses:
        '307':
          description: Redirect to signed download URL
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '404':
          description: File not found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
  '/deployments/{id}':
    delete:
      tags:
        - Deployments
      summary: Delete a deployment
      description: Delete an existing deployment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Deployment ID or name
      responses:
        '200':
          description: Deployment deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Deployment not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.destroy(\"my-deployment\")\nprint(deployment)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.destroy(\"my-deployment\");\nconsole.log(deployment);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.destroy(\"my-deployment\");\nconsole.log(deployment);\n"
        - label: cURL
          lang: Shell
          source: "curl -X DELETE \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/my-deployment\n"
    get:
      tags:
        - Deployments
      summary: Get a deployment by ID or name
      description: Retrieve details of a specific deployment by its ID or name
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Deployment ID or name
      responses:
        '200':
          description: Deployment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponseItem'
        '404':
          description: Deployment not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.retrieve(\"my-deployment\")\nprint(deployment)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.retrieve(\"my-deployment\");\nconsole.log(deployment);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.retrieve(\"my-deployment\");\nconsole.log(deployment);\n"
    patch:
      tags:
        - Deployments
      summary: Update a deployment
      description: Update an existing deployment configuration
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Deployment ID or name
      requestBody:
        description: Updated deployment configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeploymentRequest'
        required: true
      responses:
        '200':
          description: Deployment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Deployment not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.update(\"my-deployment\", gpu_count=2)\nprint(deployment)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.update(\"my-deployment\", { gpu_count: 2 });\nconsole.log(deployment);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.update(\"my-deployment\", { gpu_count: 2 });\nconsole.log(deployment);\n"
        - label: cURL
          lang: Shell
          source: "curl -X PATCH \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"gpu_count\": 2 }' \\\n      https://api.together.ai/v1/deployments/my-deployment\n"
  '/deployments/{id}/logs':
    get:
      tags:
        - Deployments
      summary: Get logs for a deployment
      description: 'Retrieve logs from a deployment, optionally filtered by replica ID.'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Deployment ID or name
        - name: replica_id
          in: query
          schema:
            type: string
            description: Replica ID to filter logs
      responses:
        '200':
          description: Deployment logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentLogs'
        '404':
          description: Deployment not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.logs(\"my-deployment\")\nprint(deployment)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.logs(\"my-deployment\");\nconsole.log(deployment);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.logs(\"my-deployment\");\nconsole.log(deployment);\n"
        - label: cURL
          lang: Shell
          source: "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/my-deployment/logs\n"
  /embeddings:
    post:
      tags:
        - Embeddings
      summary: Create embedding
      description: 'Generate vector embeddings for one or more text inputs. Returns numerical arrays representing semantic meaning, useful for search, classification, and retrieval.'
      operationId: embeddings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '503':
          description: Overloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '504':
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.embeddings.create(\n    model=\"BAAI/bge-large-en-v1.5\",\n    input=\"New York City\",\n)\n\nprint(response.data[0].embedding)\n"
        - label: Together AI SDK (v1)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.embeddings.create(\n    model=\"BAAI/bge-large-en-v1.5\",\n    input=\"New York City\",\n)\n\nprint(response.data[0].embedding)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.embeddings.create({\n  model: \"BAAI/bge-large-en-v1.5\",\n  input: \"New York City\",\n});\n\nconsole.log(response.data[0].embedding);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.embeddings.create({\n  model: \"BAAI/bge-large-en-v1.5\",\n  input: \"New York City\",\n});\n\nconsole.log(response.data[0].embedding);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/embeddings\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"BAAI/bge-large-en-v1.5\",\n       \"input\": \"New York City\"\n     }'\n"
  /endpoints:
    get:
      tags:
        - Endpoints
      summary: 'List all endpoints, can be filtered by type'
      description: Returns a list of all endpoints associated with your account. You can filter the results by type (dedicated or serverless).
      operationId: listEndpoints
      parameters:
        - name: type
          in: query
          schema:
            enum:
              - dedicated
              - serverless
            type: string
            description: Filter endpoints by type
        - name: usage_type
          in: query
          schema:
            enum:
              - on-demand
              - reserved
            type: string
            description: Filter endpoints by usage type
        - name: mine
          in: query
          schema:
            type: boolean
            description: 'If true, return only endpoints owned by the caller'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                required:
                  - object
                  - data
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ListEndpoint'
                  object:
                    enum:
                      - list
                    description: 'The object type, which is always `list`.'
                example:
                  data:
                    - created_at: '2024-02-28T21:34:35.4440000+00:00'
                      id: endpoint-5c0c20db-62fe-4f41-8ffc-d9e4ea1a264e
                      model: allenai/OLMo-7B
                      name: allenai/OLMo-7B
                      object: endpoint
                      owner: together
                      state: STARTED
                      type: serverless
                  object: list
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.endpoints.list()\n\nfor endpoint in response.data:\n    print(endpoint.id)\n"
        - label: Together AI SDK (v1)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nendpoints = client.endpoints.list()\n\nfor endpoint in endpoints:\n    print(endpoint.id)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoints = await client.endpoints.list();\n\nfor (const endpoint of endpoints.data) {\n  console.log(endpoint);\n}\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoints = await client.endpoints.list();\n\nfor (const endpoint of endpoints.data) {\n  console.log(endpoint);\n}\n"
        - label: cURL
          lang: Shell
          source: "curl \"https://api.together.xyz/v1/endpoints\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
    post:
      tags:
        - Endpoints
      summary: 'Create a dedicated endpoint, it will start automatically'
      description: Creates a new dedicated endpoint for serving models. The endpoint will automatically start after creation. You can deploy any supported model on hardware configurations that meet the model's requirements.
      operationId: createEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEndpointRequest'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DedicatedEndpoint'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - label: Together AI SDK (v2)
          lang: Python
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nendpoint = client.endpoints.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    hardware=\"1x_nvidia_a100_80gb_sxm\",\n    autoscaling={\n      \"min_replicas\": 2,\n      \"max_replicas\": 5,\n    }\n)\n\nprint(endpoint.id)\n"
        - label: Together AI SDK (v1)
          lang: Python
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nendpoint = client.endpoints.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    hardware=\"1x_nvidia_a100_80gb_sxm\",\n    min_replicas=2,\n    max_replicas=5,\n)\n\nprint(endpoint.id)\n"
        - label: Together AI SDK (TypeScript)
          lang: TypeScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoint = await client.endpoints.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  hardware: \"1x_nvidia_a100_80gb_sxm\",\n  autoscaling: {\n    max_replicas: 5,\n    min_replicas: 2,\n  }\n});\n\nconsole.log(endpoint.id);\n"
        - label: Together AI SDK (JavaScript)
          lang: JavaScript
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst endpoint = await client.endpoints.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  hardware: \"1x_nvidia_a100_80gb_sxm\",\n  autoscaling: {\n    max_replicas: 5,\n    min_replicas: 2,\n  }\n});\n\nconsole.log(endpoint.id);\n"
        - label: cURL
          lang: Shell
          source: "curl -X POST \"https://api.together.xyz/v1/endpoints\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n       \"hardware\": \"1x_nvidia_a100_80gb_sxm\",\n       \"autoscaling\": {\n         \"max_replicas\": 5,\n         \"min_replicas\": 2\n       }\n     }'\n"
  '/endpoints/{endpointId}':
    delete:
      tags:
        - Endpoints
      summary: Delete endpoint
      description: Permanently deletes an endpoint. This action cannot be undone.
      operationId: deleteEndpoint
      parameters:
        - name: endpointId
          in: path
          required: true
          schema:
            type: string
            description: The ID of the endpoint to delete
            example: endpoint-d23901de-ef8f-44bf-b3e7-de9c1ca8f2d7
      responses:
        '204':
          description: No Content - Endpoint successfully deleted
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
[...]
