openapi: '3.2.0'
info:
  title: Together APIs
  description: The Together REST API. Please see https://docs.together.ai for more details.
  termsOfService: https://www.together.ai/terms-of-service
  contact:
    name: Together Support
    url: https://www.together.ai/contact
  license:
    name: MIT
    url: https://github.com/togethercomputer/openapi/blob/main/LICENSE
  version: 2.0.0
servers:
  - url: https://api.together.xyz/v1
paths:
  /deployments:
    get:
      tags:
        - Deployments
      summary: Get the list of deployments
      description: Get a list of all deployments in your project
      responses:
        '200':
          description: List of deployments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentListResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\ndeployments = client.beta.jig.list()\nprint(deployments)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployments = await client.beta.jig.list();\nconsole.log(deployments);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployments = await client.beta.jig.list();\nconsole.log(deployments);\n"
        - lang: Shell
          label: cURL
          source: "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments\n"
    post:
      tags:
        - Deployments
      summary: Create a new deployment
      description: Create a new deployment with specified configuration
      requestBody:
        description: Deployment configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentRequest'
        required: true
      responses:
        '200':
          description: Deployment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.deploy(\n  name=\"my-deployment\",\n  gpu_type=\"h100-80gb\",\n  image=\"registry.together.xyz/proj_abcdefg1234567890/my-image:latest\"\n)\nprint(deployment)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.deploy({\n  name: \"my-deployment\",\n  gpu_type: \"h100-80gb\",\n  image: \"registry.together.xyz/proj_abcdefg1234567890/my-image:latest\"\n});\nconsole.log(deployment);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.deploy({\n  name: \"my-deployment\",\n  gpu_type: \"h100-80gb\",\n  image: \"registry.together.xyz/proj_abcdefg1234567890/my-image:latest\"\n});\nconsole.log(deployment);\n"
  '/deployments/{id}':
    delete:
      tags:
        - Deployments
      summary: Delete a deployment
      description: Delete an existing deployment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Deployment ID or name
      responses:
        '200':
          description: Deployment deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Deployment not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.destroy(\"my-deployment\")\nprint(deployment)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.destroy(\"my-deployment\");\nconsole.log(deployment);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.destroy(\"my-deployment\");\nconsole.log(deployment);\n"
        - lang: Shell
          label: cURL
          source: "curl -X DELETE \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/my-deployment\n"
    get:
      tags:
        - Deployments
      summary: Get a deployment by ID or name
      description: Retrieve details of a specific deployment by its ID or name
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Deployment ID or name
      responses:
        '200':
          description: Deployment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponseItem'
        '404':
          description: Deployment not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.retrieve(\"my-deployment\")\nprint(deployment)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.retrieve(\"my-deployment\");\nconsole.log(deployment);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.retrieve(\"my-deployment\");\nconsole.log(deployment);\n"
    patch:
      tags:
        - Deployments
      summary: Update a deployment
      description: Update an existing deployment configuration
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Deployment ID or name
      requestBody:
        description: Updated deployment configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeploymentRequest'
        required: true
      responses:
        '200':
          description: Deployment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Deployment not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.update(\"my-deployment\", gpu_count=2)\nprint(deployment)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.update(\"my-deployment\", { gpu_count: 2 });\nconsole.log(deployment);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.update(\"my-deployment\", { gpu_count: 2 });\nconsole.log(deployment);\n"
        - lang: Shell
          label: cURL
          source: "curl -X PATCH \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"gpu_count\": 2 }' \\\n      https://api.together.ai/v1/deployments/my-deployment\n"
  '/deployments/{id}/logs':
    get:
      tags:
        - Deployments
      summary: Get logs for a deployment
      description: 'Retrieve logs from a deployment, optionally filtered by replica ID.'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Deployment ID or name
        - name: replica_id
          in: query
          schema:
            type: string
            description: Replica ID to filter logs
      responses:
        '200':
          description: Deployment logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentLogs'
        '404':
          description: Deployment not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\ndeployment = client.beta.jig.logs(\"my-deployment\")\nprint(deployment)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.logs(\"my-deployment\");\nconsole.log(deployment);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst deployment = await client.beta.jig.logs(\"my-deployment\");\nconsole.log(deployment);\n"
        - lang: Shell
          label: cURL
          source: "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/my-deployment/logs\n"
  /deployments/secrets:
    get:
      tags:
        - Secrets
      summary: Get the list of project secrets
      description: Retrieve all secrets in your project
      responses:
        '200':
          description: List of secrets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecretsResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\nsecrets = client.beta.jig.secrets.list()\nprint(secrets)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst secrets = await client.beta.jig.secrets.list();\nconsole.log(secrets);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst secrets = await client.beta.jig.secrets.list();\nconsole.log(secrets);\n"
    post:
      tags:
        - Secrets
      summary: Create a new secret
      description: Create a new secret to store sensitive configuration values
      requestBody:
        description: Secret configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
        required: true
      responses:
        '200':
          description: Secret created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\nclient.beta.jig.secrets.create(name=\"my-secret\", value=\"my-value\")\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.create({ name: \"my-secret\", value: \"my-value\" });\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.create({ name: \"my-secret\", value: \"my-value\" });\n"
        - lang: Shell
          label: cURL
          source: "curl -X POST \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"name\": \"my-secret\", \"value\": \"my-value\" }' \\\n      https://api.together.ai/v1/deployments/secrets\n"
  '/deployments/secrets/{id}':
    delete:
      tags:
        - Secrets
      summary: Delete a secret
      description: Delete an existing secret
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Secret ID or name
      responses:
        '200':
          description: Secret deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Secret not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\nclient.beta.jig.secrets.delete(\"my-secret\")\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.delete(\"my-secret\");\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.delete(\"my-secret\");\n"
        - lang: Shell
          label: cURL
          source: "curl -X DELETE \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"
    get:
      tags:
        - Secrets
      summary: Get a secret by ID or name
      description: Retrieve details of a specific secret by its ID or name
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Secret ID or name
      responses:
        '200':
          description: Secret details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseItem'
        '404':
          description: Secret not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\nsecret = client.beta.jig.secrets.retrieve(\"my-secret\")\nprint(secret)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst secret = await client.beta.jig.secrets.retrieve(\"my-secret\");\nconsole.log(secret);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst secret = await client.beta.jig.secrets.retrieve(\"my-secret\");\nconsole.log(secret);\n"
        - lang: Shell
          label: cURL
          source: "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"
    patch:
      tags:
        - Secrets
      summary: Update a secret
      description: Update an existing secret's value or metadata
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Secret ID or name
      requestBody:
        description: Updated secret configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretRequest'
        required: true
      responses:
        '200':
          description: Secret updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Secret not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\nclient.beta.jig.secrets.update(\"my-secret\", value=\"my-new-value\")\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.update(\"my-secret\", { value: \"my-new-value\" });\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nawait client.beta.jig.secrets.update(\"my-secret\", { value: \"my-new-value\" });\n"
        - lang: Shell
          label: cURL
          source: "curl -X PATCH \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"value\": \"my-new-value\" }' \\\n      https://api.together.ai/v1/deployments/secrets/my-secret\n"
  '/deployments/storage/{filename}':
    get:
      tags:
        - DeploymentsStorage
      summary: Download a file
      description: Download a file by redirecting to a signed URL
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
            description: Filename
      responses:
        '307':
          description: Redirect to signed download URL
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '404':
          description: File not found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
  /deployments/storage/volumes:
    get:
      tags:
        - DeploymentsVolumes
      summary: Get the list of project volumes
      description: Retrieve all volumes in your project
      responses:
        '200':
          description: List of volumes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVolumesResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\nvolumes = client.beta.jig.storage.volumes.list()\nprint(volumes)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.jig.storage.volumes.list();\nconsole.log(volumes);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.jig.storage.volumes.list();\nconsole.log(volumes);\n"
        - lang: Shell
          label: cURL
          source: "curl -X GET \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      https://api.together.ai/v1/deployments/storage/volumes\n"
    post:
      tags:
        - DeploymentsVolumes
      summary: Create a new volume
      description: Create a new volume to preload files in deployments
      requestBody:
        description: Volume configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVolumeRequest'
        required: true
      responses:
        '200':
          description: Volume created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "from together import Together\nclient = Together()\n\nvolumes = client.beta.jig.volumes.create(name=\"my-volume\")\nprint(volumes)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.jig.volumes.create({ name: \"my-volume\" });\nconsole.log(volumes);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\nconst client = new Together();\n\nconst volumes = await client.beta.jig.volumes.create({ name: \"my-volume\" });\nconsole.log(volumes);\n"
        - lang: Shell
          label: cURL
          source: "curl -X POST \\\n      -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n      --data '{ \"name\": \"my-volume\" }' \\\n      https://api.together.ai/v1/deployments/storage/volumes\n"
  '/deployments/storage/volumes/{id}':
    delete:
      tags:
        - Volumes
      summary: Delete a volume
      description: Delete an existing volume
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Volume ID or name
      responses:
        '200':
          description: Volume deleted successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Volume not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
    get:
      tags:
        - Volumes
      summary: Get a volume by ID or name
      description: Retrieve details of a specific volume by its ID or name
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Volume ID or name
      responses:
        '200':
          description: Volume details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResponseItem'
        '404':
          description: Volume not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
        - Volumes
      summary: Update a volume
      description: Update an existing volume's configuration or contents
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Volume ID or name.
      requestBody:
        description: Updated volume configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVolumeRequest'
        required: true
      responses:
        '200':
          description: Volume updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResponseItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Volume not found
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
  /voices:
    get:
      tags:
        - Voices
      summary: Fetch available voices for each model
      description: Fetch available voices for each model
      operationId: fetchVoices
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVoicesResponse'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.audio.voices.list()\n\nprint(response.data)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.audio.voices.list()\n\nprint(response.data)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.audio.voices.list()\n\nconsole.log(response.data);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.audio.voices.list()\n\nconsole.log(response.data);\n"
  '/videos/{id}':
    get:
      tags:
        - Video
      summary: Fetch video metadata
      description: Fetch video metadata
      operationId: retrieveVideo
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Identifier of video from create response.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoJob'
        '400':
          description: Invalid request parameters.
        '404':
          description: Video ID not found.
      servers:
        - url: https://api.together.xyz/v2
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.videos.retrieve(video_id)\n\nprint(response.id)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.videos.retrieve(video_id)\n\nprint(response.id)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.videos.retrieve(videoId);\n\nconsole.log(response.status);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.videos.retrieve(videoId);\n\nconsole.log(response.status);\n"
  /videos:
    post:
      tags:
        - Video
      summary: Create video
      description: Create a video
      operationId: createVideo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVideoBody'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoJob'
      servers:
        - url: https://api.together.xyz/v2
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.videos.create(\n    model=\"together/video-model\",\n    prompt=\"A cartoon of an astronaut riding a horse on the moon\"\n)\n\nprint(response.id)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.videos.create(\n    model=\"together/video-model\",\n    prompt=\"A cartoon of an astronaut riding a horse on the moon\"\n)\n\nprint(response.id)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.videos.create({\n  model: \"together/video-model\",\n  prompt: \"A cartoon of an astronaut riding a horse on the moon\",\n});\n\nconsole.log(response.id);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.videos.create({\n  model: \"together/video-model\",\n  prompt: \"A cartoon of an astronaut riding a horse on the moon\",\n});\n\nconsole.log(response.id);\n"
  /chat/completions:
    post:
      tags:
        - Chat
      summary: Create chat completion
      description: 'Generate a model response for a given chat conversation. Supports single queries and multi-turn conversations with system, user, and assistant messages.'
      operationId: chat-completions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatCompletionStream'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '503':
          description: Overloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '504':
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.chat.completions.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    messages=[\n        {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n        {\"role\": \"user\", \"content\": \"What are some fun things to do in New York?\"},\n    ]\n)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.chat.completions.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    messages=[\n        {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n        {\"role\": \"user\", \"content\": \"What are some fun things to do in New York?\"},\n    ]\n)\n\nprint(response.choices[0].message.content)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.chat.completions.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  messages: [\n    { role: \"system\", content: \"You are a helpful assistant.\" },\n    { role: \"user\", \"content\": \"What are some fun things to do in New York?\" },\n  ],\n});\n\nconsole.log(response.choices[0].message?.content);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.chat.completions.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  messages: [\n    { role: \"system\", content: \"You are a helpful assistant.\" },\n    { role: \"user\", \"content\": \"What are some fun things to do in New York?\" },\n  ],\n});\n\nconsole.log(response.choices[0].message?.content);\n"
        - lang: Shell
          label: cURL
          source: "curl -X POST \"https://api.together.xyz/v1/chat/completions\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n       \"messages\": [\n         {\"role\": \"system\", \"content\": \"You are a helpful assistant.\"},\n         {\"role\": \"user\", \"content\": \"What are some fun things to do in New York?\"}\n       ]\n     }'\n"
  /completions:
    post:
      tags:
        - Completion
      summary: Create completion
      description: 'Generate text completions for a given prompt using a language, code, or image model.'
      operationId: completions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CompletionStream'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '503':
          description: Overloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '504':
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.completions.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    prompt=\"The largest city in France is\",\n    max_tokens=1\n)\n\nprint(response.choices[0].text)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.completions.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n    prompt=\"The largest city in France is\",\n    max_tokens=1\n)\n\nprint(response.choices[0].text)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.completions.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  prompt: \"The largest city in France is\",\n  max_tokens: 1,\n});\n\nconsole.log(response.choices[0].text);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.completions.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n  prompt: \"The largest city in France is\",\n  max_tokens: 1\n});\n\nconsole.log(response.choices[0].text);\n"
        - lang: Shell
          label: cURL
          source: "curl -X POST \"https://api.together.xyz/v1/completions\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo\",\n       \"prompt\": \"The largest city in France is\",\n       \"max_tokens\": 1\n     }'\n"
  /embeddings:
    post:
      tags:
        - Embeddings
      summary: Create embedding
      description: 'Generate vector embeddings for one or more text inputs. Returns numerical arrays representing semantic meaning, useful for search, classification, and retrieval.'
      operationId: embeddings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '503':
          description: Overloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '504':
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.embeddings.create(\n    model=\"BAAI/bge-large-en-v1.5\",\n    input=\"New York City\",\n)\n\nprint(response.data[0].embedding)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.embeddings.create(\n    model=\"BAAI/bge-large-en-v1.5\",\n    input=\"New York City\",\n)\n\nprint(response.data[0].embedding)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.embeddings.create({\n  model: \"BAAI/bge-large-en-v1.5\",\n  input: \"New York City\",\n});\n\nconsole.log(response.data[0].embedding);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.embeddings.create({\n  model: \"BAAI/bge-large-en-v1.5\",\n  input: \"New York City\",\n});\n\nconsole.log(response.data[0].embedding);\n"
        - lang: Shell
          label: cURL
          source: "curl -X POST \"https://api.together.xyz/v1/embeddings\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"BAAI/bge-large-en-v1.5\",\n       \"input\": \"New York City\"\n     }'\n"
  /models:
    get:
      tags:
        - Models
      summary: List all models
      description: Lists all of Together's open-source models
      operationId: models
      parameters:
        - name: dedicated
          in: query
          schema:
            type: boolean
            description: Filter models to only return dedicated models
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoList'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '429':
          description: RateLimit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '504':
          description: Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nmodels = client.models.list()\n\nfor model in models:\n    print(model.id)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nmodels = client.models.list()\n\nfor model in models:\n    print(model.id)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst models = await client.models.list();\n\nfor (const model of models) {\n  console.log(model.id);\n}\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst models = await client.models.list();\n\nfor (const model of models) {\n  console.log(model.id);\n}\n"
        - lang: Shell
          label: cURL
          source: "curl \"https://api.together.xyz/v1/models\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
    post:
      tags:
        - Models
      summary: Upload a custom model or adapter
      description: Upload a custom model or adapter from Hugging Face or S3
      operationId: uploadModel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelUploadRequest'
        required: true
      responses:
        '200':
          description: Model / adapter upload job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelUploadSuccessResponse'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.models.upload(\n    model_name=\"My-Fine-Tuned-Model\",\n    model_source=\"https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\",\n)\n\nprint(response.data.job_id)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.models.upload(\n    \"My-Fine-Tuned-Model\",\n    \"https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\",\n)\n\nprint(response.job_id)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.models.upload({\n  model_name: \"My-Fine-Tuned-Model\",\n  model_source: \"https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\",\n})\n\nconsole.log(response);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.models.upload({\n  model_name: \"My-Fine-Tuned-Model\",\n  model_source: \"https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\",\n})\n\nconsole.log(response);\n"
        - lang: Shell
          label: cURL
          source: "curl -X POST \"https://api.together.xyz/v1/models\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n        \"model_name\": \"My-Fine-Tuned-Model\",\n        \"model_source\": \"https://ml-models.s3.us-west-2.amazonaws.com/models/my-fine-tuned-model.tar.gz\"\n      }'\n"
  '/jobs/{jobId}':
    get:
      tags:
        - Jobs
      summary: Get job status
      description: Get the status of a specific job
      operationId: getJob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            description: The ID of the job to retrieve
            example: job-a15dad11-8d8e-4007-97c5-a211304de284
      responses:
        '200':
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobInfoSuccessResponse'
  /jobs:
    get:
      tags:
        - Jobs
      summary: List all jobs
      description: List all jobs and their statuses
      operationId: listJobs
      responses:
        '200':
          description: Jobs retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsInfoSuccessResponse'
  /images/generations:
    post:
      tags:
        - Images
      summary: Create image
      description: Use an image model to generate an image for a given prompt.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - prompt
                - model
              type: object
              properties:
                prompt:
                  type: string
                  description: A description of the desired images. Maximum length varies by model.
                  example: 'cat floating in space, cinematic'
                model:
                  type: string
                  anyOf:
                    - enum:
                        - black-forest-labs/FLUX.1-schnell-Free
                        - black-forest-labs/FLUX.1-schnell
                        - black-forest-labs/FLUX.1.1-pro
                      type: string
                    - type: string
                  description: "The model to use for image generation.<br> <br> [See all of Together AI's image models](https://docs.together.ai/docs/serverless-models#image-models)\n"
                  example: black-forest-labs/FLUX.1-schnell
                steps:
                  type: integer
                  description: Number of generation steps.
                  default: 20
                image_url:
                  type: string
                  description: URL of an image to use for image models that support it.
                seed:
                  type: integer
                  description: Seed used for generation. Can be used to reproduce image generations.
                n:
                  type: integer
                  description: Number of image results to generate.
                  default: 1
                height:
                  type: integer
                  description: Height of the image to generate in number of pixels.
                  default: 1024
                width:
                  type: integer
                  description: Width of the image to generate in number of pixels.
                  default: 1024
                negative_prompt:
                  type: string
                  description: The prompt or prompts not to guide the image generation.
                response_format:
                  enum:
                    - base64
                    - url
                  type: string
                  description: Format of the image response. Can be either a base64 string or a URL.
                guidance_scale:
                  type: number
                  description: 'Adjusts the alignment of the generated image with the input prompt. Higher values (e.g., 8-10) make the output more faithful to the prompt, while lower values (e.g., 1-5) encourage more creative freedom.'
                  default: 3.5
                output_format:
                  enum:
                    - jpeg
                    - png
                  type: string
                  description: The format of the image response. Can be either be `jpeg` or `png`. Defaults to `jpeg`.
                  default: jpeg
                image_loras:
                  type: array
                  items:
                    required:
                      - path
                      - scale
                    type: object
                    properties:
                      path:
                        type: string
                        description: The URL of the LoRA to apply (e.g. https://huggingface.co/strangerzonehf/Flux-Midjourney-Mix2-LoRA).
                      scale:
                        type: number
                        description: The strength of the LoRA's influence. Most LoRA's recommend a value of 1.
                  description: An array of objects that define LoRAs (Low-Rank Adaptations) to influence the generated image.
                reference_images:
                  type: array
                  items:
                    type: string
                    description: URL of a reference image to guide the image generation.
                  description: An array of image URLs that guide the overall appearance and style of the generated image. These reference images influence the visual characteristics consistently across the generation.
                disable_safety_checker:
                  type: boolean
                  description: 'If true, disables the safety checker for image generation.'
        required: true
      responses:
        '200':
          description: Image generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageResponse'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.images.generate(\n    model=\"black-forest-labs/FLUX.1-schnell\",\n    steps=4,\n    prompt=\"A cartoon of an astronaut riding a horse on the moon\",\n)\n\nprint(response.data[0].url)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.images.generate(\n    model=\"black-forest-labs/FLUX.1-schnell\",\n    steps=4,\n    prompt=\"A cartoon of an astronaut riding a horse on the moon\",\n)\n\nprint(response.data[0].url)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.images.generate({\n  model: \"black-forest-labs/FLUX.1-schnell\",\n  prompt: \"A cartoon of an astronaut riding a horse on the moon\",\n});\n\nconsole.log(response.data[0].url);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.images.generate({\n  model: \"black-forest-labs/FLUX.1-schnell\",\n  prompt: \"A cartoon of an astronaut riding a horse on the moon\",\n});\n\nconsole.log(response.data[0].url);\n"
        - lang: Shell
          label: cURL
          source: "curl -X POST \"https://api.together.xyz/v1/images/generations\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"black-forest-labs/FLUX.1-schnell\",\n       \"prompt\": \"A cartoon of an astronaut riding a horse on the moon\"\n     }'\n"
  /files:
    get:
      tags:
        - Files
      summary: List all files
      description: List the metadata for all uploaded data files.
      responses:
        '200':
          description: List of files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileList'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.files.list()\n\nfor file in response.data:\n    print(file.id)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.files.list()\n\nfor file in response.data:\n    print(file.id)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.list();\n\nfor (const file of response.data) {\n  console.log(file.id);\n}\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.list();\n\nfor (const file of response.data) {\n  console.log(file.id);\n}\n"
        - lang: Shell
          label: cURL
          source: "curl \"https://api.together.xyz/v1/files\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  '/files/{id}':
    get:
      tags:
        - Files
      summary: Retrieve file metadata
      description: Retrieve the metadata for a single uploaded data file.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the file to retrieve
      responses:
        '200':
          description: File retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfile = client.files.retrieve(id=\"file-id\")\n\nprint(file)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfile = client.files.retrieve(id=\"file-id\")\n\nprint(file)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst file = await client.files.retrieve(\"file-id\");\n\nconsole.log(file);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst file = await client.files.retrieve(\"file-id\");\n\nconsole.log(file);\n"
        - lang: Shell
          label: cURL
          source: "curl \"https://api.together.xyz/v1/files/ID\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
    delete:
      tags:
        - Files
      summary: Delete a file
      description: Delete a previously uploaded data file.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the file to delete
      responses:
        '200':
          description: File deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDeleteResponse'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.files.delete(id=\"file-id\")\n\nprint(response)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.files.delete(id=\"file-id\")\n\nprint(response)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.delete(\"file-id\");\n\nconsole.log(response);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.delete(\"file-id\");\n\nconsole.log(response);\n"
        - lang: Shell
          label: cURL
          source: "curl -X \"DELETE\" \"https://api.together.xyz/v1/files/file-id\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\"\n"
  '/files/{id}/content':
    get:
      tags:
        - Files
      summary: Get file contents
      description: Get the contents of a single uploaded data file.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the file to get the content of
      responses:
        '200':
          description: File content retrieved successfully
          content:
            text/plain:
              schema:
                type: string
                format: binary
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nwith client.files.with_streaming_response.content(id=\"file-id\") as response:\n  for line in response.iter_lines():\n    print(line)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfile = client.files.retrieve_content(id=\"file-id\")\n\nprint(file.filename)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.content(\"file-id\");\nconst content = await response.text();\n\nconsole.log(content);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.files.content(\"file-id\");\nconst content = await response.text();\n\nconsole.log(content);\n"
        - lang: Shell
          label: cURL
          source: "curl \"https://api.together.xyz/v1/files/file-id/content\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  /files/upload:
    post:
      tags:
        - Files
      summary: Upload a file
      description: 'Upload a file with specified purpose, file name, and file type.'
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - purpose
                - file_name
                - file
              type: object
              properties:
                purpose:
                  $ref: '#/components/schemas/FilePurpose'
                file_name:
                  type: string
                  description: The name of the file being uploaded
                  example: dataset.csv
                file_type:
                  $ref: '#/components/schemas/FileType'
                file:
                  type: string
                  description: The content of the file being uploaded
                  format: binary
        required: true
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\ncurrent_dir = os.path.dirname(os.path.abspath(__file__))\nfile_path = os.path.join(current_dir, \"data.jsonl\")\nfile = client.files.upload(file=file_path)\n\nprint(file.id)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\ncurrent_dir = os.path.dirname(os.path.abspath(__file__))\nfile_path = os.path.join(current_dir, \"data.jsonl\")\nfile = client.files.upload(file=file_path)\n\nprint(file.id)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import { upload } from \"together-ai/lib/upload\"\nimport path from \"path\";\nimport { fileURLToPath } from \"url\";\n\nconst __filename = fileURLToPath(import.meta.url);\nconst __dirname = path.dirname(__filename);\nconst filepath = path.join(__dirname, \"data.jsonl\");\nconst file = await upload(filepath);\n\nconsole.log(file.id);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import { upload } from \"together-ai/lib/upload\"\nimport path from \"path\";\nimport { fileURLToPath } from \"url\";\n\nconst __filename = fileURLToPath(import.meta.url);\nconst __dirname = path.dirname(__filename);\nconst filepath = path.join(__dirname, \"data.jsonl\");\nconst file = await upload(filepath);\n\nconsole.log(file.id);\n"
        - lang: Shell
          label: cURL
          source: "curl \"https://api.together.xyz/v1/files/upload\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -F \"file=@/path/to/data.jsonl\" \\\n     -F \"file_name=data.jsonl\" \\\n     -F \"purpose=fine-tune\"\n"
  /fine-tunes:
    post:
      tags:
        - Fine-tuning
      summary: Create job
      description: Create a fine-tuning job with the provided model and training data.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - training_file
                - model
              type: object
              properties:
                training_file:
                  type: string
                  description: File-ID of a training file uploaded to the Together API
                validation_file:
                  type: string
                  description: File-ID of a validation file uploaded to the Together API
                model:
                  type: string
                  description: Name of the base model to run fine-tune job on
                n_epochs:
                  type: integer
                  description: Number of complete passes through the training dataset (higher values may improve results but increase cost and risk of overfitting)
                  default: 1
                n_checkpoints:
                  type: integer
                  description: Number of intermediate model versions saved during training for evaluation
                  default: 1
                n_evals:
                  type: integer
                  description: Number of evaluations to be run on a given validation set during training
                  default: 0
                batch_size:
                  oneOf:
                    - type: integer
                    - enum:
                        - max
                      type: string
                  description: 'Number of training examples processed together (larger batches use more memory but may train faster). Defaults to "max". We use training optimizations like packing, so the effective batch size may be different than the value you set.'
                  default: max
                learning_rate:
                  type: number
                  description: 'Controls how quickly the model adapts to new information (too high may cause instability, too low may slow convergence)'
                  format: float
                  default: 0.00001
                lr_scheduler:
                  description: The learning rate scheduler to use. It specifies how the learning rate is adjusted during training.
                  default: none
                  $ref: '#/components/schemas/LRScheduler'
                warmup_ratio:
                  type: number
                  description: The percent of steps at the start of training to linearly increase the learning rate.
                  format: float
                  default: 0.0
                max_grad_norm:
                  type: number
                  description: Max gradient norm to be used for gradient clipping. Set to 0 to disable.
                  format: float
                  default: 1.0
                weight_decay:
                  type: number
                  description: Weight decay. Regularization parameter for the optimizer.
                  format: float
                  default: 0.0
                suffix:
                  type: string
                  description: Suffix that will be added to your fine-tuned model name
                wandb_api_key:
                  type: string
                  description: Integration key for tracking experiments and model metrics on W&B platform
                wandb_base_url:
                  type: string
                  description: The base URL of a dedicated Weights & Biases instance.
                wandb_project_name:
                  type: string
                  description: 'The Weights & Biases project for your run. If not specified, will use `together` as the project name.'
                wandb_name:
                  type: string
                  description: The Weights & Biases name for your run.
                wandb_entity:
                  type: string
                  description: The Weights & Biases entity for your run.
                train_on_inputs:
                  type: boolean
                  oneOf:
                    - type: boolean
                    - enum:
                        - auto
                      type: string
                  description: Whether to mask the user messages in conversational data or prompts in instruction data.
                  default: auto
                  deprecated: true
                training_method:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/TrainingMethodSFT'
                    - $ref: '#/components/schemas/TrainingMethodDPO'
                  description: The training method to use. 'sft' for Supervised Fine-Tuning or 'dpo' for Direct Preference Optimization.
                training_type:
                  type:
                    - 'null'
                    - object
                  anyOf:
                    - $ref: '#/components/schemas/FullTrainingType'
                    - $ref: '#/components/schemas/LoRATrainingType'
                  description: 'The training type to use. If not provided, the job will default to LoRA training type.'
                  default: null
                multimodal_params:
                  $ref: '#/components/schemas/MultimodalParams'
                from_checkpoint:
                  type: string
                  description: 'The checkpoint identifier to continue training from a previous fine-tuning job. Format is `{$JOB_ID}` or `{$OUTPUT_MODEL_NAME}` or `{$JOB_ID}:{$STEP}` or `{$OUTPUT_MODEL_NAME}:{$STEP}`. The step value is optional; without it, the final checkpoint will be used.'
                from_hf_model:
                  type: string
                  description: The Hugging Face Hub repo to start training from. Should be as close as possible to the base model (specified by the `model` argument) in terms of architecture and size.
                hf_model_revision:
                  type: string
                  description: 'The revision of the Hugging Face Hub model to continue training from. E.g., hf_model_revision=main (default, used if the argument is not provided) or hf_model_revision=''607a30d783dfa663caf39e06633721c8d4cfcd7e'' (specific commit).'
                hf_api_token:
                  type: string
                  description: The API token for the Hugging Face Hub.
                hf_output_repo_name:
                  type: string
                  description: The name of the Hugging Face repository to upload the fine-tuned model to.
        required: true
      responses:
        '200':
          description: Fine-tuning job initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneResponseTruncated'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n    training_file=\"file-id\"\n)\n\nprint(response)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.create(\n    model=\"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n    training_file=\"file-id\"\n)\n\nprint(response)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n  training_file: \"file-id\",\n});\n\nconsole.log(response);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.create({\n  model: \"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n  training_file: \"file-id\",\n});\n\nconsole.log(response);\n"
        - lang: Shell
          label: cURL
          source: "curl -X POST \"https://api.together.xyz/v1/fine-tunes\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\n       \"model\": \"meta-llama/Meta-Llama-3.1-8B-Instruct-Reference\",\n       \"training_file\": \"file-id\"\n     }'\n"
    get:
      tags:
        - Fine-tuning
      summary: List all jobs
      description: List the metadata for all fine-tuning jobs. Returns a list of FinetuneResponseTruncated objects.
      responses:
        '200':
          description: List of fine-tune jobs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneTruncatedList'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.list()\n\nfor fine_tune in response.data:\n    print(f\"ID: {fine_tune.id}, Status: {fine_tune.status}\")\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.list()\n\nfor fine_tune in response.data:\n    print(f\"ID: {fine_tune.id}, Status: {fine_tune.status}\")\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.list();\n\nfor (const fineTune of response.data) {\n  console.log(fineTune.id, fineTune.status);\n}\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.list();\n\nfor (const fineTune of response.data) {\n  console.log(fineTune.id, fineTune.status);\n}\n"
        - lang: Shell
          label: cURL
          source: "curl \"https://api.together.xyz/v1/fine-tunes\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  /fine-tunes/estimate-price:
    post:
      tags:
        - Fine-tuning
      summary: Estimate price
      description: Estimate the price of a fine-tuning job.
      requestBody:
        content:
          application/json:
            schema:
              required:
                - training_file
              type: object
              properties:
                training_file:
                  type: string
                  description: File-ID of a training file uploaded to the Together API
                validation_file:
                  type: string
                  description: File-ID of a validation file uploaded to the Together API
                model:
                  type: string
                  description: Name of the base model to run fine-tune job on
                n_epochs:
                  type: integer
                  description: Number of complete passes through the training dataset (higher values may improve results but increase cost and risk of overfitting)
                  default: 1
                n_evals:
                  type: integer
                  description: Number of evaluations to be run on a given validation set during training
                  default: 0
                training_method:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/TrainingMethodSFT'
                    - $ref: '#/components/schemas/TrainingMethodDPO'
                  description: The training method to use. 'sft' for Supervised Fine-Tuning or 'dpo' for Direct Preference Optimization.
                training_type:
                  type:
                    - 'null'
                    - object
                  oneOf:
                    - $ref: '#/components/schemas/FullTrainingType'
                    - $ref: '#/components/schemas/LoRATrainingType'
                  description: 'The training type to use. If not provided, the job will default to LoRA training type.'
                  default: null
                from_checkpoint:
                  type: string
                  description: 'The checkpoint identifier to continue training from a previous fine-tuning job. Format is `{$JOB_ID}` or `{$OUTPUT_MODEL_NAME}` or `{$JOB_ID}:{$STEP}` or `{$OUTPUT_MODEL_NAME}:{$STEP}`. The step value is optional; without it, the final checkpoint will be used.'
        required: true
      responses:
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '200':
          description: Price estimated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  estimated_total_price:
                    type: number
                    description: The price of the fine-tuning job
                  allowed_to_proceed:
                    type: boolean
                    description: Whether the user is allowed to proceed with the fine-tuning job
                    example: true
                  user_limit:
                    type: number
                    description: The user's credit limit in dollars
                  estimated_train_token_count:
                    type: number
                    description: The estimated number of tokens to be trained
                  estimated_eval_token_count:
                    type: number
                    description: The estimated number of tokens for evaluation
  '/fine-tunes/{id}':
    get:
      tags:
        - Fine-tuning
      summary: List job
      description: List the metadata for a single fine-tuning job.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the job to retrieve
      responses:
        '200':
          description: Fine-tune job details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneResponse'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfine_tune = client.fine_tuning.retrieve(id=\"ft-id\")\n\nprint(fine_tune)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nfine_tune = client.fine_tuning.retrieve(id=\"ft-id\")\n\nprint(fine_tune)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst fineTune = await client.fineTuning.retrieve(\"ft-id\");\n\nconsole.log(fineTune);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst fineTune = await client.fineTuning.retrieve(\"ft-id\");\n\nconsole.log(fineTune);\n"
        - lang: Shell
          label: cURL
          source: "curl \"https://api.together.xyz/v1/fine-tunes/ft-id\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
    delete:
      tags:
        - Fine-tuning
      summary: Delete a fine-tune job
      description: Delete a fine-tuning job.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the fine-tune job to delete
        - name: force
          in: query
          deprecated: true
          schema:
            type: boolean
            description: Deprecated and unused parameter.
            default: false
      responses:
        '200':
          description: Fine-tune job deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneDeleteResponse'
        '404':
          description: Fine-tune job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorData'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.delete(id=\"ft-id\")\n\nprint(response)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.delete(id=\"ft-id\")\n\nprint(response)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.delete(\"ft-id\");\n\nconsole.log(response);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.delete(\"ft-id\");\n\nconsole.log(response);\n"
        - lang: Shell
          label: cURL
          source: "curl -X \"DELETE\" \"https://api.together.xyz/v1/fine-tunes/ft-id?force=false\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  '/fine-tunes/{id}/events':
    get:
      tags:
        - Fine-tuning
      summary: List job events
      description: List the events for a single fine-tuning job.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the fine-tune job to list events for
      responses:
        '200':
          description: List of fine-tune events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneListEvents'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.list_events(id=\"ft-id\")\n\nfor event in response.data:\n    print(event)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nevents = client.fine_tuning.list_events(id=\"ft-id\")\n\nprint(events)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst events = await client.fineTuning.listEvents(\"ft-id\");\n\nconsole.log(events);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst events = await client.fineTuning.listEvents(\"ft-id\");\n\nconsole.log(events);\n"
        - lang: Shell
          label: cURL
          source: "curl \"https://api.together.xyz/v1/fine-tunes/ft-id/events\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  '/fine-tunes/{id}/checkpoints':
    get:
      tags:
        - Fine-tuning
      summary: List checkpoints
      description: List the checkpoints for a single fine-tuning job.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: The ID of the fine-tune job to list checkpoints for
      responses:
        '200':
          description: List of fine-tune checkpoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneListCheckpoints'
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\ncheckpoints = client.fine_tuning.list_checkpoints(id=\"ft-id\")\n\nprint(checkpoints)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\ncheckpoints = client.fine_tuning.list_checkpoints(id=\"ft-id\")\n\nprint(checkpoints)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst checkpoints = await client.fineTuning.listCheckpoints(\"ft-id\");\n\nconsole.log(checkpoints);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst checkpoints = await client.fineTuning.listCheckpoints(\"ft-id\");\n\nconsole.log(checkpoints);\n"
        - lang: Shell
          label: cURL
          source: "curl \"https://api.together.xyz/v1/fine-tunes/ft-id/checkpoints\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  /finetune/download:
    get:
      tags:
        - Fine-tuning
      summary: Download model
      description: Receive a compressed fine-tuned model or checkpoint.
      parameters:
        - name: ft_id
          in: query
          required: true
          schema:
            type: string
            description: Fine-tune ID to download. A string that starts with `ft-`.
        - name: checkpoint_step
          in: query
          schema:
            type: integer
            description: Specifies step number for checkpoint to download. Ignores `checkpoint` value if set.
        - name: checkpoint
          in: query
          schema:
            enum:
              - merged
              - adapter
              - model_output_path
            type: string
            description: Specifies checkpoint type to download - `merged` vs `adapter`. This field is required if the checkpoint_step is not set.
      responses:
        '200':
          description: Successfully downloaded the fine-tuned model or checkpoint.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid request parameters.
        '404':
          description: Fine-tune ID not found.
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\n# Using `with_streaming_response` gives you control to do what you want with the response.\nstream = client.fine_tuning.with_streaming_response.content(ft_id=\"ft-id\")\n\nwith stream as response:\n    for line in response.iter_lines():\n        print(line)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\n# This will download the content to a location on disk\nresponse = client.fine_tuning.download(id=\"ft-id\")\n\nprint(response)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.content({\n  ft_id: \"ft-id\",\n});\n\nconsole.log(await response.blob());\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.content({\n  ft_id: \"ft-id\",\n});\n\nconsole.log(await response.blob());\n"
        - lang: Shell
          label: cURL
          source: "curl \"https://api.together.xyz/v1/finetune/download?ft_id=ft-id&checkpoint=merged\"\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  '/fine-tunes/{id}/cancel':
    post:
      tags:
        - Fine-tuning
      summary: Cancel job
      description: Cancel a currently running fine-tuning job. Returns a FinetuneResponseTruncated object.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Fine-tune ID to cancel. A string that starts with `ft-`.
      responses:
        '200':
          description: Successfully cancelled the fine-tuning job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinetuneResponseTruncated'
        '400':
          description: Invalid request parameters.
        '404':
          description: Fine-tune ID not found.
      x-codeSamples:
        - lang: Python
          label: Together AI SDK (v2)
          source: "# Docs for v1 can be found by changing the above selector ^\nfrom together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.cancel(id=\"ft-id\")\n\nprint(response)\n"
        - lang: Python
          label: Together AI SDK (v1)
          source: "from together import Together\nimport os\n\nclient = Together(\n    api_key=os.environ.get(\"TOGETHER_API_KEY\"),\n)\n\nresponse = client.fine_tuning.cancel(id=\"ft-id\")\n\nprint(response)\n"
        - lang: TypeScript
          label: Together AI SDK (TypeScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.cancel(\"ft-id\");\n\nconsole.log(response);\n"
        - lang: JavaScript
          label: Together AI SDK (JavaScript)
          source: "import Together from \"together-ai\";\n\nconst client = new Together({\n  apiKey: process.env.TOGETHER_API_KEY,\n});\n\nconst response = await client.fineTuning.cancel(\"ft-id\");\n\nconsole.log(response);\n"
        - lang: Shell
          label: cURL
          source: "curl -X POST \"https://api.together.xyz/v1/fine-tunes/ft-id/cancel\" \\\n     -H \"Authorization: Bearer $TOGETHER_API_KEY\" \\\n     -H \"Content-Type: application/json\"\n"
  /fine-tunes/models/supported:
    get:
      tags:
        - Fine-tuning
      summary: List supported models
      description: List models supported for fine-tuning.
      responses:
        '200':
          description: List of supported models.
          content:
            application/json:
              schema:
                required:
                  - models
[...]
